@charset "UTF-8";

/* 重载bootstrap部分 */
em{font-style: normal;}
input[type="radio"], input[type="checkbox"]{margin:0;}
input[type="radio"]:focus, input[type="checkbox"]:focus{outline: none;}
label{margin:0;font-weight: normal;}
form{margin:0;}
select, input[type="file"]{line-height: 28px;}
select{width: auto;}
.tooltip{z-index: 9999;}
.alert{margin-bottom:0px;padding:5px 14px;background: #FCFDDB;border: 1px solid #F9F2A7;}
.alert-danger, .alert-error{position: relative;margin-bottom:10px;background: #F2DEDE;border: 1px solid #EED3D7;}
.tab-content{padding-bottom:20px;}
.form-horizontal .control-label, .form-horizontal .controls{height: 30px;line-height: 30px;padding-top:0;}
.badge{padding:2px 6px;margin-left: 5px;background: #cccccc;}
.badge.badge-info{background: #3A87AD;}
.badge.badge-important{background: #D90000;}
.table-bordered > thead > tr > th, .table-bordered > thead > tr > td{border-bottom-width:1px;}
/* modal */
.modal-backdrop, .modal-backdrop.fade.in{filter:alpha(opacity=20);opacity: 0.2; }
/* 重载bootstrap按钮 */
.btn:active, .btn.active{box-shadow: none;}
.btn-mini{min-width: 64px;height:24px;padding:0 10px;line-height:24px;font-weight: normal;font-size:12px;}
.btn-normal{min-width:76px;height:32px;padding:0 10px;line-height: 32px;font-size: 14px;}
.btn-large{min-width:120px;height:38px;padding:0 10px;line-height:38px;font-size:14px;}
.close{font-size: 18px;}
.btn-success, .btn-gray.active{border:none;background-color: #58b957;}
.btn-success:hover, .btn-success:active{background-color: #119E10 !important;color: #fff !important;}
.btn-success.active{background-color: #ccc;color: #fff;box-shadow: none;}
.btn-success.active:hover{background-color: #999 !important;}
.btn-primary{border:none;background-color: #4DABFF;}
.btn-primary:hover, .btn-primary:active{background-color: #339DFF;}
.btn-gray{background-color: #cccccc;color: #fff;}
.btn.follow b{font-size: 12px;font-weight: normal;}
.btn.follow em{margin:0 3px;}
.btn.follow.btn-gray em{color: #d9d9d9;}
.btn.follow.btn-success em, .btn.follow.btn-gray.active em{color: #78c779;}
.form-control{padding: 6px;resize:none;box-shadow: none;border-color: #ccc;}
.form-control:focus{border-color:#66b7ff;box-shadow: none;}

/* 公共部分 */
html{height: 100%;}
body{margin: 0;height: 100%;font-size:14px; line-height:160%;color: #666;background:url('img/bg.gif') repeat;}
body, input, button, select, textarea, h1, h2, h3, h4, h5, h6{font-family:'Helvetica Neue', 'STHeiti', 'Microsoft YaHei', Helvetica,Arial,sans-serif;}
ul, ol{margin:0;padding:0;list-style:none;}
h1, h2, h3, h4, h5, h6{margin-top:0;font-size:100%;line-height: 1.7;}
dd{margin-left: 10px;}
a{cursor: pointer;color: #155faa;}
a:hover{text-decoration: none;color: #66B7FF;}
a:focus{outline: none;}
table td{vertical-align: middle !important;}
.container{width: 990px !important;}
.aw-wecenter{margin:0 auto;}/*兼容2.5*/
.aw-padding10{padding:10px;}
.aw-content-wrap{margin:0 15px 30px 15px;background-color: #fff;border:1px solid #e6e6e6;border-radius:4px;}
.aw-main-content{padding:0;border-right:1px solid #e6e6e6;}
.aw-side-bar{margin-left:-1px;padding:20px;border-left: 1px solid #e6e6e6;}
.aw-mod .mod-head h4, .aw-mod .mod-head h4 a{font-size:14px;}
.aw-back-top{position:fixed;display:none;padding:0 5px;right:20px;bottom:20px;background-color: #d9d9d9;border-radius: 3px;}
.aw-back-top .fa-arrow-up{padding:10px;color: #a6a6a6;font-size: 20px;}
.aw-back-top:hover{background-color: #d0d0d0;}
.aw-text-align-justify{text-align: justify;}
.text-color-999{font-size: 12px;color: #999;}
.aw-hide-txt{overflow: hidden;text-overflow:ellipsis;white-space: nowrap;}
.aw-placeholder{color: #999 !important;}
.aw-dropdown-menu li:first-child, .dropdown-menu li.first, .aw-comment-list li:first-child, .aw-edit-comment-box .aw-file-upload-box, .aw-li-border-bottom li:first-child{border-top:none;}
.aw-dropdown-list li.user a img, .aw-question-tags, .aw-mod.topic-nav ul > li > p a, .aw-mod.topic-nav ul > li > a, .aw-border-radius-5, .aw-border-radius-5 img, .aw-load-more-content, .aw-user-name img, .aw-topic-name img, .aw-topic-name span, .aw-topic-img img, .aw-dropdown-menu img, .aw-login-register a img, .aw-login-register .aw-user-head img, .aw-dropdown, .category dl dt img, .category .span12 > ul > li, .aw-mod.side-nav ul li a, .topic-edit-notes li, .aw-notopic-sort, .aw-comment-box, .aw-topic-detail-title .mod-body img, .aw-topic-search, .aw-mod-topic-edit-box .mod-head .img, .aw-mod-topic-edit-box .mod-head .img span, .aw-inbox .mod-footer li .aw-item, .aw-inbox .mod-footer li .aw-user-img img, .aw-invite-list ul li img, .aw-mod-search-result .aw-item .aw-user-img img, .aw-mod-search-result .aw-item .aw-topic-img img, .aw-mod-search-result .aw-search-result-tags, .aw-file-uploader dl, .aw-card-tips, .aw-card-tips .mod-head .img img, .aw-first-login .aw-complete-data .side-bar img, .aw-first-login .aw-card-box-list .aw-topic-img img, .aw-first-login .aw-card-box-list .img img, .aw-first-login .aw-card-box-list li > span, .aw-replay-box .mod-body, .aw-publish-box .aw-publish-title .dropdown .dropdown-toggle, .markitup-box code, #markItUpPreviewFrames code, .aw-publish-title.active input, #aw-loading, .aw-user-nav > a img{border-radius: 4px;}
.category dl, .aw-mod.new-announce, .aw-first-login .mod-head ul, .aw-first-login .aw-complete-data, .aw-first-login .aw-card-box-list li{border-radius: 10px;}
.aw-editor-box #advanced_editor{border-radius: 5px 5px 0 0;}
.aw-publish-title .dropdown .dropdown-toggle, .aw-publish-title .dropdown .dropdown-toggle a{border-radius: 0 5px 5px 0;}
.aw-nav-main li:first-child a.active{border-radius:10px 0 0 0;}
.aw-first-login .mod-head ul li em{border-radius: 30px;}
.aw-close{font-size: 16px;}
.inline-block{display: inline-block;}
.aw-global-tips{margin-bottom: 20px;}
.autosize{max-height: 800px;overflow-y:scroll !important;}
/* 加载更多 */
.aw-load-more-content{position:relative;overflow: hidden;height: 34px;line-height: 34px;margin: 20px;background-color: #E1F0F7;border:1px solid #D1E6ED;text-align: center;cursor: pointer;}
a.aw-load-more-content{display: block;}
.aw-load-more-content > a{display: inline;}
.aw-load-more-content:hover{background: #D9EDF7;}
.aw-load-more-content.loading{background-image: url(img/ajax-loader.gif);background-repeat:no-repeat;background-position:center center;background-color: #f6f6f6;border:1px solid #dfdfdf;}
.aw-load-more-content.loading span{font-size: 0px;}
.aw-load-more-content.loading img{opacity: 1;}
.aw-load-more-content.warmming{display:none;background:#F4FBFF;border:1px solid #CBE1F0;font-size: 12px;}
.aw-load-more-content .aw-alert-box{position: absolute;right: 10px;top:0;}
.aw-load-more-content.disabled{background-color: #f6f6f6;border:1px solid #dfdfdf;color: #999;}
/* 分类小标签 */
.aw-user-name, .aw-topic-name{font-size:12px;line-height:20px;font-weight:normal;}
.aw-user-name img, .aw-topic-name img{width: 40px;height: 40px;}
.aw-topic-name span{display:inline-block;padding:0 6px;background-color:#99cfff;color: #fff;}
.aw-topic-name span:hover{background:#C1E8F9;text-decoration:none;}
.aw-topic-name .aw-close{margin-left:5px;margin-top:3px\0;color: #295477;opacity: 1;}
/* tabs切换样式 */
.aw-nav-tabs{position:relative;z-index:1;min-height:62px;min-height:32px\0;margin:0;padding: 30px 20px 0;border-color: #e6e6e6;}
.aw-nav-tabs.active > li{float: right;}
.aw-nav-tabs > li{margin:0 4px 0 0;font-size: 14px;}
.aw-nav-tabs > li > a{line-height:40px;padding:0 13px;background-color: #fff;border: none;cursor: pointer;}
.aw-nav-tabs > li > a:hover{border:none;border-bottom:2px solid #155faa;background-color: #fff;color: #333;}
.aw-nav-tabs > li.active a{line-height:40px;background-color: #fff;border:none;border-bottom:2px solid #155faa;font-weight: bold;color: #333;}
.aw-nav-tabs > li.active a:hover, .aw-nav-tabs > li.active a:focus{border:none;border-bottom:2px solid #155faa;}
.aw-nav-tabs h2{position:absolute;top:20px;left:20px;margin:0;font-size:20px;}
.aw-nav-tabs .fa-caret-up, .aw-nav-tabs .fa-caret-down{position: relative;top: -2px;margin-left:5px;}
/* 自定义tab切换 */
.aw-tabs{height:38px;line-height:38px;padding:0 20px;border-bottom: 1px solid #e6e6e6;}
.aw-tabs li.active a{color: #333333;}
.aw-tabs ul li{display:inline;}
.aw-tabs ul li a{display:inline-block;height:30px;line-height:30px;margin-right:20px;}
/* 全局loading样式 */
#aw-loading{position:fixed;top:50%;left:50%;background:#000;width: 40px;height: 40px;margin: 0 0 0 -20px;z-index: 10001;opacity: 0.75;filter: alpha(opacity=75);}
#aw-loading-box{width:40px;height:40px;background-image: url('../../common/loading.png');}
.aw-loading{display:inline-block;height:16px;width:16px;background:url("img/ajax-loader.gif") no-repeat;}
#aw-loading-mini-box{width: 16px;height: 16px;margin:0 auto;background-image: url('../../common/loading-mini.png');}
/* 全局通用下拉列表 */
.aw-dropdown, .aw-category-dropdown{display:none;position:absolute;left:0;z-index:9999;width:100%;background: #fff;border:1px solid #ccc;box-shadow: 0 4px 8px #e5e5e5;}
.aw-dropdown .i-dropdown-triangle, .aw-category-dropdown .i-dropdown-triangle{position: absolute;top:-6px;left: 15px;}
.aw-dropdown .i-dropdown-triangle.active{left: auto;right: 15px;}
.aw-dropdown p, .aw-category-dropdown p{padding:5px 10px;margin:0;}
.aw-dropdown .aw-dropdown-list li, .aw-category-dropdown .aw-category-dropdown-list li{border-top: 1px dotted #E2E2E2;cursor: pointer;}
.aw-dropdown .aw-dropdown-list li:first-child, .aw-category-dropdown .aw-category-dropdown-list li:first-child{border-top: none;}
.aw-dropdown .aw-dropdown-list li:hover, .aw-dropdown .aw-dropdown-list li.active, .aw-category-dropdown .aw-category-dropdown-list li:hover{background-color: #F5FAFF;}
.aw-dropdown .aw-dropdown-list li.topic{line-height:24px;padding:5px 10px;}
.aw-dropdown .aw-dropdown-list li.question{line-height:32px;padding:0 10px;}
.aw-dropdown .aw-dropdown-list li.question.active .icon-g-replay{display: inline-block;}
.aw-dropdown .aw-dropdown-list li.question .icon-g-replay{display: none;margin:9px 5px 0 0;}
.aw-dropdown .aw-dropdown-list li.question a{display: block;line-height: 32px;font-size: 13px;}
.aw-dropdown .aw-dropdown-list li.question b{line-height: 30px;}
.aw-dropdown .aw-dropdown-list li.user a{display: block;line-height:22px;padding: 5px 10px;font-size: 13px;}
.aw-dropdown .aw-dropdown-list li.user a img{width: 25px;height: 25px;margin-right: 5px;}
.aw-dropdown .aw-dropdown-list li.user a span{display:inline-block;max-width:180px;margin-left:10px;color: #999;vertical-align: top;}
.aw-question-redirect-box .aw-dropdown .aw-dropdown-list{max-height: 329px;overflow-y:auto;}
.aw-publish-title .aw-dropdown .aw-dropdown-list{max-height: 199px;overflow-y:auto;}
.aw-publish-title .aw-dropdown .aw-dropdown-list a{display:block;padding:5px 10px;max-width: 400px;}
.aw-edit-topic-box .aw-dropdown .aw-dropdown-list{max-height: 296px;overflow-y: auto;}
/* 翻页 */
.page-control{text-align: center;}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus{background-color: #66b7ff;color: #fff;border-color: #66b7ff;}
.pagination > li > a, .pagination > li > span{background-color: #fafafa;color: #999999;border-color: #e6e6e6;}

/* 顶部 */
.aw-top-menu-wrap{position:relative;z-index:1001;width:100%;min-height:50px;margin-bottom:30px;background-color:#66b7ff;}
.aw-logo, .aw-search-box,  .aw-top-nav{float: left;}
.aw-publish-btn, .aw-user-nav, .aw-top-notification{position:relative;float: right;margin:10px 0 10px 10px;}
.aw-logo{width:90px;height:40px;margin:9px 0 0 0;}
.aw-logo a{display:block;width: 57px;height: 35px;background:url('img/logo.png') no-repeat;}
.aw-logo h1{height:25px;line-height:25px;margin:-2px 0 2px 0;font-size:14px;}
.aw-publish-btn{width:80px;}
.aw-publish-btn a{display:block;width:80px;height: 32px;line-height: 32px;font-size: 14px;text-align: center;border-radius: 3px;}
.aw-publish-btn i{position:relative;top:1px;margin-right: 10px;font-size: 16px;}
.aw-publish-btn .fa-edit{margin-right:10px;vertical-align:-1px;font-size: 15px;color: #fff;}
.aw-top-nav{margin:0;border: none;}
.aw-top-nav .icon-bar{background-color: #fff;}
.aw-top-nav > nav > ul > li > a{padding:16px;color: #fff;}
.aw-top-nav > nav > ul > li > a.active{background: #4dabff;font-weight: bold;}
.aw-top-nav > nav > ul > li > a:hover, .aw-top-nav > nav > ul > li > a:focus{background: #4dabff;}
.aw-top-nav .badge{position: absolute;top: 4px;right: 2px;}
.aw-top-nav ul li:hover .aw-dropdown{display: block;}
.aw-top-nav .aw-dropdown{display:none;left:auto;right:0;z-index: 9999;min-width:300px;border-top: none;border-radius: 0 0 4px 4px;}
.aw-top-nav .aw-dropdown p{margin: 0;padding:0;}
.aw-top-nav .aw-dropdown .more{font-size: 12px;}
.aw-top-nav .aw-dropdown .close{display: none;}
.aw-top-nav .aw-dropdown ul li{padding:5px 10px;border-top:1px solid #f5f5f5;}
.aw-top-nav .aw-dropdown ul li:first-child{border-top: none;}
.aw-top-nav .aw-dropdown ul li:hover{background: #F5FAFF;}
.aw-top-nav .aw-dropdown ul li:hover .read{display: inline-block;}
.aw-top-nav .aw-dropdown ul li .message{display:inline-block;width: 260px;font-size: 12px;}
.aw-top-nav .aw-dropdown ul li .read{display: none;}
.aw-top-nav .aw-dropdown ul li:last-child{border-radius: 0 0 4px 4px;}
.aw-top-nav .aw-dropdown .mod-footer a{display: block;height:40px;text-align: center;background-color: #fafafa;color: #999999;font-size: 12px;line-height:40px;border-radius: 0 0 4px 4px;border-top: 1px solid #f5f5f5;}
.aw-user-nav{position:relative;margin:10px 0 0 10px;}
.aw-user-nav:hover .dropdown-list{display: block;}
.aw-user-nav > a{display:block;height:42px;}
.aw-user-nav > a img{width: 32px;height: 32px;}
.aw-user-nav > span > a{display:inline-block;float:right;height:32px;color: #fff;}
.aw-user-nav > span > .login{margin-right: 10px;}
.aw-user-nav > a .badge{position: absolute;top: -8px;right: -8px;}
.aw-user-nav .dropdown-list{display: none;position:absolute;right:0;width:120px;border:1px solid #ccc;border-top:none;box-shadow: 0 4px 8px #e5e5e5;border-radius: 0 0 4px 4px;}
.aw-user-nav .dropdown-list ul li{border-top: 1px solid #f0f0f0;text-align: left;}
.aw-user-nav .dropdown-list ul li:first-child{border-top: none;}
.aw-user-nav .dropdown-list ul li:last-child a{border-radius: 0 0 4px 4px;}
.aw-user-nav .dropdown-list ul li a{display:block;width:100%;height: 36px;line-height: 36px;padding:0 15px;background: #fff;color: #666;}
.aw-user-nav .dropdown-list ul li a:hover{background: #f7f7f7;}
.aw-user-nav .dropdown-list ul li a i{margin-right: 5px;}

/* 搜索框 */
.aw-search-box{position:relative;margin:10px 0;}
.aw-search-box input{width: 260px;height: 32px;padding-right:30px;border:none;}
.aw-search-box #global_search_btns{position: absolute;right: 5px;top: 6px;font-size: 18px;color: #999;}
.aw-search-box .aw-dropdown{top:44px;width: 350px;}
.aw-search-box .aw-dropdown i{position: absolute;top:-6px;}
.aw-search-box .aw-dropdown p{height: 38px;line-height: 38px;margin:0;padding:0 10px;font-weight: normal;border-bottom: 1px dotted #E2E2E2;}
.aw-search-box .aw-dropdown p.search{display: none;}
.aw-search-box .aw-dropdown .mod-footer .btn-success{margin:5px;}
.aw-search-box .aw-dropdown .aw-dropdown-list{max-height: 355px;overflow-y: scroll;border-bottom: 1px dotted #E2E2E2;}
.aw-search-box .aw-dropdown .aw-dropdown-list li.question .aw-hide-txt{width: 250px;}

/* 分类 */
.category{margin-bottom: 20px;}
.category dl, .category dl dt, .category dl dd{float:left;}
.category dl{position:relative;margin:10px 12px 10px 0;padding:15px;}
.category dl:hover .aw-dropdown, .category ul li:hover .aw-dropdown, .category dl .aw-dropdown ul li a{display:block;}
.category dl:hover, .category .col-sm-12 > .active{background: #ebebeb;}
.category dl dt, .category dl dt img{width: 50px;height: 50px;}
.category dl dd{width:130px;overflow: hidden;}
.category dl dd a{display: block;max-height: 20px;overflow: hidden;text-overflow:ellipsis;white-space: nowrap;}
.category dl dd span{display:block;height:38px;font-size: 12px;word-wrap:break-word;}
.category dl .aw-dropdown{top: 110%;left: 0;}
.category dl .aw-dropdown span, .category ul li .aw-dropdown span{position:absolute;top:-10px;display: inline-block;width: 100%;height:10px;}
.category dl .aw-dropdown span i, .category ul li .aw-dropdown span i{top: 4px;}
.category .list > li{float: left;position:relative;height: 30px;line-height: 30px;margin:0 10px 10px 0;font-size:14px;text-align: center;cursor: pointer;border-radius: 5px;}
.category .list > li > a{display:block;padding:0 10px;color:#17344A;}
.category .list > li.active, .category .list > li:hover{background: #494a4b;}
.category .list > li.active > a, .category .list > li:hover > a{color: #fff;}
.category ul li .aw-dropdown{top:120%;width: 120px;text-align: left;}
.category ul li .aw-dropdown ul li, .category dl .aw-dropdown ul li{padding:5px 10px;}
.category .title a, .category-dropdown a.active{font-weight: bold;}

/* 发现页 */
.aw-explore-list{padding:0 20px;}

/* 动态首页 */
.common-head{padding:0 20px;border-bottom: 1px solid #e6e6e6;}
.common-head h2{height:60px;line-height:60px;margin:0;font-size: 20px;color: #333333;}
.common-head h2 > i{margin-right: 10px;}
.common-head a.pull-right{margin:18px 0 0 10px;}
.common-head span{font-size: 12px;}
.common-head span .btn{margin-left: 10px;}
.common-head .badge{position: relative;top: -3px;}
.aw-feed-list{padding:0 20px;}
.aw-feed-list .aw-load-more-content{margin:20px 0;}
.aw-feed-list .aw-item{position:relative;padding:14px 0;border-bottom: 1px solid #F5F5F5;}
.aw-feed-list .aw-item:last-child{border-bottom:none;}
.aw-feed-list .aw-item.active{background: #FFFED1;}
.aw-feed-list .aw-item .mod-head, .aw-feed-list .aw-item .mod-body, .aw-feed-list .aw-item .mod-footer{position: relative;width:100%;padding-left: 50px;}
.aw-feed-list .aw-item .mod-footer{min-height:28px;line-height: 28px;}
.aw-feed-list .aw-item .aw-user-img{position:absolute;left:0;top:5px;width: 40px;height: 40px;}
.aw-feed-list .aw-item .aw-user-img img{width: 40px;height: 40px;}
.aw-feed-list .aw-item .close{display: none;}
.aw-feed-list .aw-item:hover .more-operate, .aw-feed-list .aw-item:hover .close, .aw-feed-list .aw-item:hover .mod-head span.pull-right{display:inline-block;}
.aw-feed-list .aw-item h4, .aw-feed-list .aw-item p{margin:0;}
.aw-feed-list .aw-item .aw-best-answer{position: absolute;right: 0;top: -16px;font-size: 12px;text-align: center;color: #69b5ff;}
.aw-feed-list .aw-item .icon-bestbg{display:block;font-size: 46px;}
.aw-feed-list .aw-feed-list-content{width: 100%;}
.aw-feed-list .aw-user-name{color: #666;}
.aw-feed-list .meta{min-height:32px;margin-top:10px;font-size: 12px;}
.aw-feed-list .meta i, .aw-question-detail .meta i{position:relative;top:2px;font-size: 16px;}
.aw-feed-list .meta > a.active, .aw-feed-list .meta > a.active i, .aw-question-detail .meta a.active, .aw-question-detail .meta a.active i{color: #2A6496;}
.aw-feed-list .more-operate{display:none;margin-left:10px;line-height: 32px;}
.aw-feed-list .more-operate > a{height:20px;line-height:20px;margin-left:15px;font-size:12px;}
.aw-feed-list .operate{display:inline-block;float:left;background-color: #f5f5f5;border-radius: 4px;}
.aw-feed-list .operate + .operate{margin-left: 5px;}
.aw-feed-list .operate a{float:left;height:28px;padding:0 10px;color: #999;line-height: 28px;}
.aw-feed-list .operate a + a{border-left: 1px solid #EBEBEB;}
.aw-feed-list .operate a.active, .aw-feed-list .operate a.active i{color: #66b7ff;}
.aw-feed-list .aw-vote-count{position:relative;display:block;min-width:25px;height:25px;line-height:25px;padding:0 3px;padding:0\0;background:#E9F5FF;font-size:14px;text-align:center;cursor: pointer;}
.aw-feed-list .aw-vote-count.disabled{background: #F2F2F2;color: #999;}
.aw-feed-list .aw-comment-upload-img-list{height: auto;overflow: hidden;margin:10px 0 0;}
.aw-feed-list .aw-comment-upload-img-list img{display:block;max-width:570px;margin:0 0 10px 0;}
.aw-feed-list .aw-comment-upload-img-list.active img{width: auto;height: auto;display:block;}

/* 动态首页新通知提示box */
.aw-notification-box{padding-bottom: 20px;border-bottom: 1px solid #e6e6e6;}
.aw-notification-box .mod-body, .aw-notification-box .mod-footer{padding:0 20px;}
.aw-notification-box .mod-body ul li{padding:10px 0;border-top:1px dotted #E2E2E2;line-height: 14px;}
.aw-notification-box .mod-body ul li:first-child{border-top: none;}
.aw-notification-box .mod-body ul li span{font-size: 12px;}
.aw-notification-box .mod-body ul li p{margin:0;line-height: 24px;}
.aw-notification-box .mod-body ul li .icon-tips, .aw-notification-box .mod-body ul li .read{display: none;color: #999;}
.aw-notification-box .mod-body ul li .more{margin:5px 0 0 5px;font-size: 12px;}
.aw-notification-box .mod-body ul li:hover .read{display: block;}

/* 侧边栏公共部分 */
.aw-side-bar .aw-mod{padding:20px 0;border-top: 1px solid #E2E2E2;}
.aw-side-bar .aw-mod:first-child{padding-top:0px;border-top: none;}
.aw-side-bar .aw-mod .mod-head{padding-bottom:5px;}
.aw-side-bar .aw-mod .mod-head a{font-size: 12px;}
.aw-side-bar .aw-mod dl{height:auto;overflow:hidden;margin:10px 0;}
.aw-side-bar .aw-mod h3{margin-bottom:0;}
.aw-side-bar .aw-mod dt, .aw-side-bar .aw-mod dt img{width:32px;height:32px;}
.aw-side-bar .aw-mod dd{width:155px;font-size:12px;}
.aw-side-bar .aw-mod p{margin-bottom:0;}
.aw-side-bar .aw-mod p.signature{max-height: 34px;overflow: hidden;}
.aw-side-bar .aw-mod ul li{padding:3px 0;}
.aw-mod.user-detail ul li{padding:3px 0;}
.aw-mod.user-detail ul li .aw-topic-name{display:inline-block;margin:0 5px 5px 0;}
.aw-mod.invite-join .mod-body{margin: 10px 0;}
.aw-mod.new-announce{margin-bottom:20px;padding:10px;background: #FCFDDB;border: 1px solid #F9F2A7 !important;}
.aw-mod.new-announce .mod-head h3{margin:0;}
/* 导航条 */
.aw-mod.side-nav ul li a{display: block;padding-left:10px;line-height: 30px;color: #666;}
.aw-mod.side-nav ul li a:hover{background-color:#f5f5f5;}
.aw-mod.side-nav ul li a.active{background-color:#66b7ff;color: #fff;}
.aw-mod.side-nav ul li a .badge{background-color: #ccc;}
.aw-mod.side-nav ul li a.active .badge{background-color: #fff;color: #66b7ff;}
.aw-mod.side-nav ul li a.active i{color: #fff;}
.aw-mod.side-nav i{position:relative;top:1px;margin-right:10px;color: #999999;font-size: 16px;}
/* 用户列表 */
.aw-mod.question-status a img, .aw-mod.topic-status a img{width:24px;height:24px;margin-bottom:5px;}
/* 相关话题 */
.aw-mod.topic-about .aw-topic-name{display: inline-block;margin:0 4px 8px 0;}
.aw-mod.topic-about .aw-edit-topic-box input{width: 100% !important;margin-bottom: 5px;}
/* 话题修改记录 */
.aw-mod.topic-edit-notes h3{padding-bottom: 0;}
.aw-mod.topic-edit-notes .mod-body, .aw-mod.topic-edit-notes ul{margin-top:10px;}
.aw-mod.topic-edit-notes li{height:auto;overflow:hidden;margin:3px 0;padding:5px !important;cursor: pointer;}
.aw-mod.topic-edit-notes li:first-child{margin-top: 0px;}
.aw-mod.topic-edit-notes li:hover{background: #EBEBEB;}
.aw-mod.topic-edit-notes .fa-chevron-down{margin-top: 2px;}
/* 话题编辑 */
.aw-topic-editor .aw-topic-name{display:inline-block;margin:0 3px 5px;}
/* 文章分类 */
.aw-mod.aw-topic-recommend-list{margin: 20px auto;padding: 10px;max-height: 176px;overflow: hidden; border: 1px solid #ddd;border-radius: 5px;background-color: #fafafa;}
.aw-mod.aw-topic-recommend-list li{min-height:36px;padding: 7px 0;border-bottom: 1px dotted #E2E2E2;}
.aw-mod.aw-topic-recommend-list .aw-common-list{max-height: 112px;overflow: hidden;}
.aw-mod.aw-topic-recommend-list .mod-footer a{margin-top:10px;font-size: 12px;}
/* 邀请回复 */
.aw-mod.email-invite-replay .btn-success{margin-top:10px;}
/* 发起 */
.aw-mod.publish-help .mod-body p, .aw-mod.topic-edit-help .mod-body p{padding:10px 0;color: #999;}
/* 用户列表页按擅长话题搜索 */
.aw-mod.people-sort .mod-body{position: relative;}
.aw-mod.people-sort .mod-body .icon-down{position: absolute;right: 8px;top: 10px;}

/* 附件上传 */
#upload-form{position: relative;width: 0;height: 0;opacity: 0;filter:alpha(opacity=0);}
#upload-form .file-input{position:absolute;top:-7px;left:-12px;width: 80px;height: 34px;filter:alpha(opacity=0);}
.aw-upload-box #upload-form .file-input{position:absolute;top:-7px;left:-12px;width: 80px;height: 34px;filter:alpha(opacity=0);}
.aw-upload-box .upload-list{width:688px;height: auto;overflow: hidden;}
.aw-upload-box .upload-list li{position:relative;float: left;width: 214px;height: 115px;padding:15px 15px 15px 110px;margin:15px 15px 0 0;background: #F5FAFF;border:1px solid #DCEDFA;border-radius: 5px;}
.aw-upload-box .upload-list li .img{position:absolute;left:10px;top:10px;width: 90px;height: 90px;background: url('img/ajax-loader.gif') center center no-repeat;text-align: center;line-height: 90px;border-radius: 5px;}
.aw-upload-box .upload-list li .img.error, .aw-upload-box .upload-list li .img.file{background: none;}
.aw-upload-box .upload-list li .img .fa-file-o{font-size: 48px;vertical-align: middle;color: #aac6e1;}
.aw-upload-box .upload-list li .img .fa-times{font-size: 24px;color: #ff6464;}
.aw-upload-box .upload-list li .content p{margin:0;line-height: 16px;}
.aw-upload-box .upload-list li .title{height: 34px;overflow:hidden;word-wrap:break-word;font-size:12px;color: #666;}
.aw-upload-box .upload-list li .size{margin-bottom:10px !important;font-size: 12px;color: #999;}
.aw-upload-box .upload-list li .meta a{margin-right:5px;font-size: 13px;}
.aw-upload-box .upload-list li.error{border-color: #ff6464;}
.aw-upload-box .upload-list li.error .size{color: #ff6464;}

/* 问题详情页 */
.aw-topic-bar{margin:20px 20px 0;}
.aw-notopic-sort{margin:20px 20px;padding:5px 10px;background-color: #fafafa;font-size: 12px;}
.aw-topic-bar .aw-notopic-sort{margin:0;}
.aw-question-detail{margin-bottom:30px;padding:20px 20px 0;}
.aw-question-detail .mod-head{position: relative;padding-bottom:14px;border-bottom:1px solid #f5f5f5;}
.aw-question-detail .mod-head h1{max-width:500px;margin:0;font-size:20px;line-height: 30px;}
.aw-question-detail .mod-head .operate{position: absolute;right: 0;top: 0;}
.aw-question-detail .mod-head .operate > a{margin:0 5px 0 0;}
.aw-question-detail .mod-head .operate .btn-group .btn{width:46px;height:32px;line-height: 18px;padding:0;background-color: #ccc;color: #fff;border:none;font-size: 26px;box-shadow: none;}
.aw-question-detail .mod-head .operate .btn-group.open .btn{background-color:#66b7ff}
.aw-question-detail .mod-head .operate .btn-group .icon-cog{margin-right: 0px;color: #666;}
.aw-question-detail .mod-head .operate .dropdown-menu ul li{padding:5px 10px;}
.aw-question-detail .mod-head .operate .dropdown-menu ul li a{display: block;}
.aw-question-detail .mod-body:hover .more-operate{display: block;}
.aw-question-detail .content{padding:10px 0;}
.aw-question-detail .operate .dropdown-menu, .aw-question-detail .mod-head .operate .aw-dropdown-list{width: 110px;min-width: 110px;}
.aw-question-detail .mod-head .operate .aw-dropdown-list li{width: 108px;}
.aw-question-detail .meta{min-height: 20px;line-height: 20px;font-size: 12px;}
.aw-question-detail .meta > span, .aw-question-detail .meta > a, .aw-question-detail .meta > div{margin-right:15px;}
.aw-question-detail .meta .badge-info{margin:0;}
.aw-question-detail .more-operate{display:none;margin:0 !important;}
.aw-question-detail .more-operate a, .aw-question-detail .more-operate em{margin-left: 15px;}
.aw-question-detail:hover .more-operate{display: block;}
.aw-question-detail .aw-edit-topic-box .aw-dropdown{width: 418px;}
.aw-question-detail .meta a:hover i, .meta a:hover i, .aw-article-list .mod-footer a:hover i,.aw-article-content .aw-feed-list .meta a:hover,.aw-article-content .aw-feed-list .meta a.active:hover i{color: #66b7ff;}
.aw-article-content .aw-feed-list .meta a.active i {color: #999;}

/* 问题修改日志 */
.aw-question-edit .mod-head h2{font-size: 20px;}
.aw-question-edit .mod-head h2 span{font-size: 14px;}
.aw-question-edit .mod-body{padding:0 20px;}
.aw-question-edit .mod-body li{padding:15px 0;border-bottom: 1px dotted #E2E2E2;}
.aw-question-edit .mod-body .operate .btn{margin-left: 10px;}
.aw-question-edit ins{background: #EDFCE5;text-decoration: none;}
.aw-question-edit del{background: #F7D3D3;}
/* 评论box */
.aw-question-detail .aw-comment-box, .aw-question-detail .aw-invite-box, .aw-question-detail .aw-question-related-box{margin:10px 0;}
.aw-comment-box{position:relative;margin:10px auto;border:1px solid #e6e6e6;}
.aw-comment-box .aw-comment-list{padding:15px 15px 0;border-bottom: 1px solid #f2f2f2;}
.aw-comment-box form{padding:15px;background-color: #fafafa;}
.aw-comment-box textarea{height: 32px;margin:0;}
.aw-comment-box .aw-comment-box-btn{display:none;height:auto;overflow:hidden;margin-top:10px;}
.aw-comment-box .aw-comment-box-btn .btn{margin-left:10px;}
.aw-comment-box .aw-comment-box-btn .btn.disbaled{pointer-events:none;}
.aw-comment-list li{position: relative;padding:15px 0 15px 42px;border-top:1px solid #f5f5f5;line-height: 22px;}
.aw-comment-list li:first-child{padding-top: 0;}
.aw-comment-list li > .aw-user-name{position: absolute;left: 0;}
.aw-comment-list li > .aw-user-name img{width: 32px;height: 32px;}
.aw-comment-list li p{margin:0;word-break:break-all;}
/* 评论投票栏 */
.aw-vote-bar{position:relative;width: 25px;height: 83px;}
.aw-vote-bar a{display:block;width:24px;height:24px;line-height:24px;background:#e9f5ff;text-align: center;}
.aw-vote-bar a:hover{background:#c6e3fc;}
.aw-vote-bar a.active{background:#4686d4;}
.aw-vote-bar a.active i{color: #fff;}
.aw-vote-bar a, .aw-vote-bar em{margin-bottom:5px;}
.aw-vote-bar .aw-vote-bar-count{display:block;width:25px;height: 25px;line-height:25px;font-size:14px;text-align: center;}
.aw-vote-bar .aw-vote-bar-count.active{background:#E9F5FF;}
.aw-vote-bar .aw-vote-bar-count.enable, .aw-vote-count.enable{background: #f2f2f2;}
.aw-vote-bar i{margin:0 !important;color: #428BCA;}
.aw-feed-list .aw-vote-count.disabled, .aw-vote-bar .aw-vote-bar-count.enable, .aw-vote-count.enable{cursor: no-drop;}

/* 邀请box */
.aw-invite-box{position:relative;width:100%;margin:10px auto;padding:15px;background:#F8F8F8;border:1px solid #e6e6e6;border-radius: 5px;}
.aw-invite-box .mod-head{padding: 10px;border-bottom:none;}
.aw-invite-box .mod-head .search-box{position:relative;width:220px;margin:0;}
.aw-invite-box .mod-head .invite-list{max-width:435px;height:32px;line-height: 32px;overflow:hidden;margin:0;font-size: 12px;}
.aw-invite-box .mod-head .invite-list img{width:25px;height: 25px;border-radius: 25px;}
.aw-invite-box .mod-head input{width: 200px;}
.aw-invite-box .mod-head .fa-search{position: absolute;right: 30px;top: 10px;}
.aw-invite-box .mod-body{padding:10px;border-top: 1px solid #E2E2E2;}
.aw-invite-box .mod-body ul{width:103%;max-height: 70px;overflow: hidden;margin-left:-10px;}
.aw-invite-box .mod-body ul li{display:none;position:relative;float: left;width:30%;margin:0 10px;}
.aw-invite-box .mod-body ul li .main{padding-left: 50px;}
.aw-invite-box .mod-body ul li p{margin:1px 0 0 0;font-size: 13px;color: #999;}
.aw-invite-box .mod-body ul li p .aw-topic-name{position:relative;top:5px;height:20px;margin:0 3px;}
.aw-invite-box .mod-body ul li p .aw-topic-name span{max-width: 133px;height:20px;overflow: hidden;}
.aw-invite-box .mod-body ul li img{width: 40px;height: 40px;}
.aw-invite-box .mod-body .btn-normal{width:60px;padding:2px 0;font-size: 12px;}
.aw-invite-box .mod-footer{height:34px;line-height:34px;border-top: 1px solid #E2E2E2;text-align: center;font-size: 13px;}
.aw-invite-box .mod-footer a.active{color: #999;cursor: default;}
.aw-invite-box .aw-dropdown{margin-top:10px;}
/* 相关链接 */
.aw-question-related-box{position:relative;padding:10px;background-color:#f8f8f8;border:1px solid #E2E2E2;border-radius: 5px;}
.aw-question-related-box .mod-head{border: none;}
.aw-question-related-box .mod-head h2{color: #666;}
.aw-question-related-box .mod-body input{width:90%;margin-right: 10px;}
.aw-question-related-list{margin:30px 0;}
.aw-question-related-list .mod-head{border:none;}
.aw-question-related-list .mod-head h3{margin:0;color: #666;}
.aw-question-related-list .mod-body{padding-left: 30px;}
.aw-question-related-list .mod-body ul li a:hover{text-decoration: underline;}
/* 问题列表公共模块 .aw-common-list */
.aw-common-list{width:100%;height:auto;overflow: hidden;}
.aw-common-list > div + div{border-top:1px solid #F5F5F5;}
.aw-common-list .aw-item{position:relative;z-index:0;;min-height:45px;padding:14px 0 14px 50px;}
.aw-common-list .aw-item.article .markitup-box{max-height: 130px;overflow: hidden;}
.aw-common-list .aw-item.article .img{display:none;width: 200px;height: 130px;margin-left: 10px;}
.aw-common-list .aw-item.article .aw-comment-upload-img-list{position: absolute;right: 10px;top: 0;width: 200px;}
.aw-common-list .aw-item.article .aw-comment-upload-img-list img{max-width: 200px;}
.aw-common-list .aw-item.article .markitup-box img{position: absolute;right: 0;top: 0;width: 200px;}
.aw-common-list .aw-item.article .more{font-size: 12px;}
.aw-common-list .aw-item .aw-question-content .aw-user-name{color: #666;}
/* 问题列表回复统计 */
.aw-common-list .aw-question-content h4{margin:0 0 3px;padding-right:20px;font-size:14px;word-wrap:break-word;}
.aw-common-list .aw-question-content > span, .aw-common-list .aw-question-content p span{font-size: 12px;font-weight: normal;color: #999;}
.aw-common-list .aw-question-content .aw-user-name img{max-width: 24px;}
.aw-common-list .aw-question-content p{margin:0;color: #999;}
.aw-common-list .aw-question-content .contribute{position:relative;margin-left: 20px;}
.aw-common-list .aw-question-content .contribute span{position: absolute;right:0;top:-20px;}
.aw-common-list .aw-question-content .contribute img{border-radius: 12px;}
.aw-common-list .aw-question-content .aw-topic-name{display:inline-block;margin:0 2px 3px;}
/* 问题列表用户头像 */
.aw-common-list .aw-item > .aw-user-name{position:absolute;left:0;top:15px;}
.aw-common-list .aw-question-content .aw-user-name img{width: 24px;height: 24px;}
/* 问题列表问题标签 */
.aw-question-tags{position:relative;margin-right:10px;padding:1px 5px 0 15px;background-color:#f2f2f2;cursor:pointer;font-size: 14px;}
.aw-question-tags:hover{background-color:#dddddd;}
.aw-question-tags:hover i{color:#dddddd;}
.aw-question-tags i{position:absolute;left:0;top:-4px;width:8px;background-color: #fff;color:#f2f2f2;font-size: 25px;}

/* 文章广场 */
.aw-article-list .aw-item{position: relative;margin-top:20px;padding:0 20px 20px 70px;border-bottom:1px solid #e1e1e1;}
.aw-article-list .aw-item .aw-user-name{position: absolute;left: 20px;top: 0;}
.aw-article-list .aw-item h2 a{color: #333;font-size: 20px;line-height: 26px;}
.aw-article-list .aw-item h2 a:hover, .aw-article-list .aw-item .aw-mod-footer span a:hover{color: #4d8bcd;}
.aw-article-list .aw-item .topics{margin-bottom: 10px;}
.aw-article-list .aw-item .topics .aw-topic-name{margin:0 2px 3px;}
.aw-article-list .aw-item .mod-body{margin:10px 0;line-height: 24px;}
.aw-article-list .aw-item .mod-body img{max-width:100%;margin-right: 10px;}
.aw-article-list .aw-item .mod-body .content-wrap{overflow: hidden;}
.aw-article-list .aw-item .mod-body .content-wrap .content .hide-content{max-height: 440px;overflow: hidden;}
.aw-article-list .aw-item .mod-body .content-wrap .markitup-box img{max-width: 100% !important;}
.aw-article-list .aw-item .mod-footer span{color: #999;font-size: 12px;}
.aw-article-list .aw-item .mod-footer span a i {font-size: 12px;}
.aw-article-list .aw-item .mod-footer span a{margin-left:15px;color: #999;}
.aw-article-list .aw-item .mod-footer span a:hover{color: #66B7FF;}
.aw-article-list .aw-item .more{font-size: 12px;}

/* 文章详情页 */
.aw-article-content .aw-question-detail .mod-body{margin-bottom: 20px;}
.aw-article-content .aw-question-detail .mod-body > a{line-height: 38px;margin:0 0 0 15px !important;}
.aw-article-vote .agree, .aw-article-vote .disagree{display:inline-block;float:left;height:38px;line-height:38px;padding:0 13px 0 15px;border: 1px solid #D6D7D8;color: #9D9E9F;border-radius: 4px 0 0 4px;outline: none;}
.aw-article-vote .disagree{padding:0 13px;border-left: none;border-radius: 0 4px 4px 0;}
.aw-article-vote.disabled .agree, .aw-article-vote.disabled .disagree{background-color: #e6e7e8 !important;box-shadow:none;cursor: no-drop;}
.aw-article-vote.disabled:hover i, .aw-article-vote .active:hover i{color: #B7B7B7;cursor: no-drop;}
.aw-article-vote a:hover{background-color: #FBFBFB;}
.aw-article-vote a.active{background-color: #F1F2F3;box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05) inset;}
.aw-article-vote a.active i{color: #9D9E9F;}
.aw-article-vote i{margin:0;}
.aw-article-content .aw-question-detail .mod-footer a img{width: 25px;height: 25px;margin-bottom:10px;border-radius: 15px;}
.aw-article-content .aw-question-detail .mod-footer a.more-voters{display: inline-block;width: 25px;height: 25px;line-height:18px;border-radius: 15px;background-color: #f1f2f3;text-align: center;vertical-align: middle;color: #cdcecf;}
.aw-article-content .aw-feed-list .aw-item{padding: 14px 0 14px 40px;}
.aw-article-content .aw-feed-list .aw-user-name{position: absolute;left: 0;top: 15px;}
.aw-article-content .aw-feed-list .aw-user-name img{width: 32px;height: 32px;}
.aw-article-content .aw-feed-list .meta{color: #999;}
.aw-article-content .aw-feed-list .meta a{margin-right: 15px;color: #999;}
.aw-article-content .aw-feed-list .aw-article-replay-box{padding:0;}

/* 发起问题页面 */
.aw-mod-publish{padding:0 20px 20px;}
.aw-mod-publish h3{margin-top:30px;}
.aw-publish-title{position: relative;}
.aw-publish-title.active input{width: 100%;border:1px solid #ccc;}
.aw-publish-title input{width:78%;margin-bottom:10px;}
.aw-publish-title .dropdown{position: absolute;right: 0;top: 0;width: 20%;}
.aw-publish-title .dropdown.open .aw-dropdown{display: block;}
.aw-publish-title .dropdown .dropdown-toggle{height:34px;line-height:34px;margin-bottom:10px;border: 1px solid #ccc;cursor: pointer;border-radius: 4px;}
.aw-publish-title .dropdown .dropdown-toggle span{display: inline-block;float: left;width: 80%;height:32px;padding-left: 10px;color: #999;line-height: 32px;}
.aw-publish-title .dropdown .dropdown-toggle a{display:inline-block;width:20%;height:32px;text-align: center;}
.aw-publish-title .dropdown i{margin:0;color: #ccc;}
.aw-mod-publish > .mod-footer{margin-top:20px;text-align: right;}
.aw-mod-publish .mod-footer .aw-anonymity{margin:0 20px;}
.aw-mod-publish .mod-footer .aw-anonymity input{margin:4px 3px 0 0;margin:0\0;}
.aw-auth-img{margin-bottom: 15px;}
.aw-auth-img input{width:76px;margin: 0 0 0 5px;}
.aw-auth-img img{height: 30px;}
.aw-mod-publish .aw-edit-topic-box .aw-dropdown .aw-dropdown-list{max-height: 230px;}
/* 发起已有问题推荐 */
.aw-publish-suggest-question{margin-bottom: 10px;}
.aw-publish-suggest-question p{margin:0;padding:5px 10px;border-bottom: 1px solid #DCDCDC;}
.aw-publish-suggest-question ul li a{display:block;padding:5px 10px;border-bottom: 1px solid #DCDCDC;font-size: 12px;}
.aw-publish-suggest-question ul li a:hover{background-color: #f5faff;}

/* 话题分类 */
.aw-topic-category{padding:0 20px;border-bottom: 1px solid #e6e6e6;}
.aw-topic-category ul{margin-top: 14px;}
.aw-topic-category ul li{float: left;margin:0 14px 14px 0;}
.aw-topic-category ul li a{display: block;padding:3px 5px;border: 1px solid #e6e6e6;border-radius: 4px;color: #666666;}
.aw-topic-category ul li a:hover, .aw-topic-category ul li a.active{background-color: #99cfff;color: #fff;border-color: #99cfff;}

/* 热门话题列表 */
.aw-topic-list .mod-head{margin-bottom: 20px;}
.aw-topic-list .mod-head h2{font-size: 20px;}
.aw-topic-list .mod-body, .aw-topic-list .mod-footer{padding: 0 20px;}
.aw-topic-list .aw-item{position:relative;float:left;width:50%;min-height:90px;padding:20px 5px 20px 65px;border-bottom:1px solid #f5f5f5;}
.aw-topic-list .aw-item .img{position: absolute;left: 5px;top: 20px;}
.aw-topic-list .aw-item p{margin:0 0 5px;}
.aw-topic-list .aw-notopic-sort{margin-top: 14px;}

/* 话题侧边栏导航 */
.aw-mod.topic-nav{border-bottom: none !important;}
.aw-mod.topic-nav ul li a{display:block;padding:5px 0 5px 10px;color: #666;font-size: 14px;}
.aw-mod.topic-nav ul li a:hover, .aw-mod.topic-nav ul li a.active{background: #2b77a8;color: #fff;}
.aw-mod.topic-nav ul li a:hover i, .aw-mod.topic-nav ul li a.active i{color: #fff;}

/* 话题详细页 */
.aw-topic-detail-title{min-height: 90px;padding:20px;}
.aw-topic-detail-title .mod-body{position: relative;padding:0 0 0 80px;}
.aw-topic-detail-title .mod-body img{position: absolute;left: 0;top: 0;}
.aw-topic-detail-title h2{margin:0;font-size:20px;}
.aw-topic-detail-title .aw-topic-operate{position:absolute;right:0;top:0;text-align: right;}
.aw-topic-list-mod .aw-nav-tabs ul{position: relative;}
.aw-topic-list-mod .aw-nav-tabs > li{float:left;}
.aw-topic-list-mod .aw-nav-tabs .aw-search-bar{position: absolute;right: 20px;width:240px;}
.aw-topic-list-mod .aw-nav-tabs .aw-search-bar input{height: 32px;padding-right: 30px !important;}
.aw-topic-list-mod .aw-nav-tabs .aw-search-bar .icon-search{position: absolute;right: 8px;top: 8px;font-size: 16px;}
.aw-topic-list-mod .aw-nav-tabs .aw-search-bar .aw-dropdown-list{max-height: 329px;overflow-y:scroll;}
.aw-topic-list-mod .tab-pane .mod-body{padding:0 20px;}
.aw-topic-detail-about{padding:20px;line-height: 24px;}
.aw-topic-search{position:relative;display:block;height:28px;border:1px solid #CCCCCC;}
.aw-topic-search .fa-search{margin:6px 4px 4px 6px;}
.aw-topic-search .search-query{width:170px;height:20px;margin:3px 0 10px;padding:0px !important;border:none;box-shadow: none;transition:none;}
.aw-topic-search .search-query:focus{border: none;box-shadow: none;}
.aw-topic-search ul li.question{line-height: 12px !important;}
.aw-topic-search ul li a{display: inline;width: 100%;}
/* 话题编辑页面 */
.aw-mod-topic-edit-box{padding:20px;}
.aw-mod-topic-edit-box .mod-head{position: relative;margin:0 0 30px 0;padding:0 0 0 60px;}
.aw-mod-topic-edit-box .mod-head h3{font-size: 20px;line-height: 20px;}
.aw-mod-topic-edit-box .mod-head .img{position: absolute;left: 0;top: 0;width:50px;height:50px;background: url(http://127.0.0.1/anwsion/trunk/static/common/topic-mid-img.png) no-repeat;text-align: center;}
.aw-mod-topic-edit-box .mod-head .img span{display: block;width: 20px;height: 20px;margin:20px 0 0 25px;background: #fff;opacity: 0.8;filter:alpha(opacity=80);}
.aw-mod-topic-edit-box .mod-head .img .fa-wrench{position: relative;top: 4px;margin:0;vertical-align: top;}
.aw-mod-topic-edit-box .mod-head .img form{z-index:1;}
.aw-mod-topic-edit-box .mod-head .img form .file-input{left: 25px !important;top: 20px !important;width: 20px;height: 20px;}
.aw-mod-topic-edit-box .mod-footer{height:auto;overflow:hidden;margin-top:20px;}
.aw-mod.new-topic .mod-body{margin-top: 10px;}
.aw-mod.new-topic .aw-topic-name{display: inline-block;margin: 0 4px 8px 0;}
/* 话题管理页面 */
.aw-mod-topic-manage{margin-top: 20px;}
.aw-mod-topic-manage dl{margin-bottom:40px;}
.aw-mod-topic-manage dl dt, .aw-mod-topic-manage dl dd{line-height: 30px;}
.aw-mod-topic-manage dl dt{width: 90px;font-weight: normal;}
.aw-mod-topic-manage dl dd{width: 570px;margin-left: 120px;}
.aw-mod-topic-manage dl dd input[type="text"]{width:440px;}
.aw-mod-topic-manage dl dd .aw-topic-name{display:inline-block;margin:0 3px 5px 3px;}
.aw-mod-topic-manage dl:first-child dd input{width: 183px;}
.aw-mod-topic-manage dl .topic-list{width: 470px;}
.aw-mod-topic-manage dl .topic-list label{float: left;margin:4px 14px 6px 0;line-height: 22px;}
.aw-mod-topic-manage dl .aw-publish-title .dropdown{position: relative;left: 0;width: 40%;}
.aw-mod-topic-manage dl .aw-publish-title .dropdown .dropdown-toggle{border-radius: 5px;}
.aw-mod-topic-manage dl .aw-publish-title #question_contents{width: 80%;}
.aw-mod-topic-manage dl .aw-publish-title #aw-topic-tags-select{width:78%;height:30px;line-height:30px;border:none;}
/* 话题编辑box */
.aw-edit-topic{display:inline-block;font-size: 12px;cursor: pointer;font-weight: normal;}
.aw-edit-topic-box input, .aw-edit-topic-box > a{margin:0 5px 10px 0;}
.aw-edit-topic-box{display:none;position:relative;line-height: 35px;margin:10px 0;}
.aw-edit-topic-box input{width: 250px !important;}
.aw-edit-topic-box .btn-large{min-width: 0px;}
.aw-edit-topic-box .aw-dropdown-list li{padding:0;}
.aw-edit-topic-box p{padding:0 10px;}

/* 收藏页面 */
.mod-favorite .aw-topic-name span{background-color: #cccccc;}
.mod-favorite .aw-tag-list{padding:10px 20px;border-bottom: 1px solid #e6e6e6;}
.mod-favorite .aw-tag-list > span{margin-top: 3px;}
.mod-favorite .aw-tag-list .aw-topic-name{float:left;margin:5px;}

/* 私信对话 */
.aw-inbox h2 a{font-size: 12px;font-weight: normal;}
.aw-inbox .mod-body{position: relative;padding:15px 45px;}
.aw-inbox .mod-body .aw-user-img{position: absolute;right: -40px;}
.aw-inbox .mod-body .aw-user-img img{widows: 32px;height: 32px;}
.aw-inbox .mod-body textarea{min-height: 100px;}
.aw-inbox .mod-body p{margin-top:10px;text-align: right;}
.aw-inbox .mod-footer li{position: relative;padding:15px 45px;}
.aw-inbox .mod-footer li .aw-item{position:relative;padding:12px 15px;background: #FAFAFA;border:1px solid #E6E6E6;}
.aw-inbox .mod-footer li .aw-item p:first-child{margin-bottom: 10px;}
.aw-inbox .mod-footer li .i-private-replay-triangle{position: absolute;right: -8px;top: 10px;border-left:1px solid #FAFAFA;}
.aw-inbox .mod-footer li .aw-user-img{position:absolute;top:15px;right: 0;}
.aw-inbox .mod-footer li .aw-user-img img{width: 32px;height: 32px;}
.aw-inbox .mod-footer li.active .aw-item{background: #F5FAFE;border:1px solid #DCECF9;}
.aw-inbox .mod-footer li.active .aw-user-img{left:0;top:15px;}
.aw-inbox .mod-footer li.active .i-private-replay-triangle{background: url('img/icon-angle-left.png') no-repeat;left:-8px;border-left:none;border-right: 1px solid #F5FAFE;}

/* 通知 */
.aw-notifications-list{padding:0 20px;}
.aw-notifications-list ul li{position:relative;padding: 15px 0;line-height: 20px;border-top: 1px dotted #E2E2E2;}
.aw-notifications-list ul li:first-child{border-top: none;}
.aw-notifications-list ul li.active{font-weight: bold;color: #333333;}
.aw-notifications-list ul li.active span{font-weight: normal;}
.aw-notifications-list ul li p{margin:0;}
.aw-notifications-list ul li p.moreContent{margin:0 0 5px;}
.aw-notifications-list ul li .read, .aw-notifications-list ul li .more{font-size: 12px;color: #999;font-weight: normal;}
.aw-notifications-list ul li .read{display:none;}
.aw-notifications-list ul li:hover .read{display: inline-block;}
.aw-notifications-list ul li .icon-tips{position: absolute;right: 0;top: 15px;}

/* 邀请好友加入社区 */
.aw-mod-invite-friend .content{width: 400px;margin:0 auto;padding:40px 0;}
.aw-mod-invite-friend .content p{line-height:26px;margin-top:10px;text-align: right;}
.aw-mod-invite-friend .content p .btn{margin-left:10px;}
.aw-invite-list ul li{position: relative;padding:15px 0 25px 40px;border-bottom: 1px dotted #E2E2E2;}
.aw-invite-list ul li .img{position:absolute;left:0;top: 15px;}
.aw-invite-list ul li .img img{width: 32px;height: 32px;}
.aw-invite-list ul li p input{width: 386px;height: 30px;margin:10px 0;}

/* 用户列表页 */
.aw-people-list{padding:0 20px;}
.aw-people-list .aw-item{position: relative;padding:14px 0 14px 100px;border-top: 1px solid #f5f5f5;}
.aw-people-list .aw-item:first-child{border-top: none;}
.aw-people-list .aw-item .aw-user-sort-count{position: absolute;left: 0;top: 15px;width:30px;color: #fff;text-align: center;}
.aw-people-list .aw-item .aw-user-sort-count i{position:absolute;left:0;top:0;color: #999;font-size: 30px;}
.aw-people-list .aw-item .aw-user-sort-count em{position: relative;z-index: 1;font-size: 16px;}
.aw-people-list .aw-item .aw-user-sort-count.active i{color: #ffc000;}
.aw-people-list .aw-item .aw-user-img{position: absolute;left: 40px;top:15px;}
.aw-people-list .aw-item .operate{position: absolute;right: 0;top: 15px;text-align: center;}
.aw-people-list .aw-item .operate .btn{display: block;margin-bottom: 5px;}
.aw-people-list .aw-item p{margin:0;}
.aw-people-list .aw-item .meta{margin:3px 0;}
.aw-people-list .aw-item .meta span{margin-right: 10px;}

/* 用户排名 */
.aw-user-sort .aw-user-sort-title{height:50px;padding:0 20px;background-color: #f5f5f5;border-bottom: 1px solid #dcdcdc;}
.aw-user-sort .aw-user-sort-title h3{line-height:50px;margin:0;}
.aw-user-sort .content{width:80%;padding-left:20px;border-left: 1px solid #DCDCDC;}
.aw-user-sort .aw-mod-body{padding: 0;}
.aw-user-sort .aw-nav-tabs{position: relative;top: 17px;}
.aw-user-sort .side-nav{width:20%;margin-right:-1px;padding:10px;border-right: 1px solid #DCDCDC;}
.aw-user-sort .side-nav ul li{margin-top:5px;padding:0;}
.aw-user-sort .side-nav ul li:first-child{margin-top: 0;}
.aw-user-sort .side-nav ul li a{display:block;line-height: 34px;padding:0 10px;border-radius: 5px;}
.aw-user-sort .side-nav ul li a:hover, .aw-user-sort .side-nav ul li a.active{background-color: #eeeeee;}
.aw-user-sort .row.active .side-nav{display: none;}
.aw-user-sort .row.active .content{width:100%;padding:0 20px;border:none;}
.aw-user-sort .aw-item{position: relative;padding:25px 0 25px 145px;border-bottom:1px dotted #E2E2E2;}
.aw-user-sort .aw-item .title{max-width: 400px;}
.aw-user-sort .aw-item .btn{margin-left: 10px;}
.aw-user-sort .aw-user-sort-count{position:absolute;left:0;top:30px;width: 50px;height: 50px;line-height: 50px;background:#F5F5F5;font-size: 24px;text-align: center;}
.aw-user-sort .aw-user-sort-count.active{background:#FFF4DE;}
.aw-user-sort .aw-user-img{position: absolute;left: 80px;top:30px;}
.aw-user-sort .aw-topic-name{display: inline-block;margin-bottom: 10px;}

.aw-user-center-details-list .aw-topic-name, .aw-user-center-details .aw-topic-name{min-width: 70px;margin-right: 5px;}
.aw-user-center-details-list .aw-icon, .aw-user-center-details .aw-icon{margin-left: 5px;}

/* 专题页面 */
.aw-feature-title{width: 930px;margin-bottom: 20px;}
.aw-feature-title .img{width:960px;height:240px;}
.aw-feature-title h2{padding-bottom: 10px;border-bottom: 1px solid #E2E2E2;font-size: 20px;}
.aw-feature-content h2{font-size: 20px;}
.aw-feature-content .aw-mod{margin-bottom: 30px;}

/* 底部版权 */
.aw-footer{padding:20px 0;font-size: 12px;text-align: center;}
.aw-footer .fa-rss-square{font-size: 14px;color: #e6a244;}

/* 搜索结果页面 */
.aw-mod-search-result .mod-body{padding:0 20px;}
.aw-mod-search-result .aw-item{position: relative;padding:10px 106px 10px 65px;border-bottom: 1px solid #f5f5f5;}
.aw-mod-search-result .aw-item.active{padding:10px 0;}
.aw-mod-search-result .aw-item .aw-user-img, .aw-mod-search-result .aw-item .aw-topic-img{position: absolute;left: 0;top: 10px;}
.aw-mod-search-result .aw-item .follow{position: absolute;right: 0;top: 10px;}
.aw-mod-search-result .aw-item i{position: relative;top: 2px;}
.aw-mod-search-result .aw-item p:last-child{margin:0;}
.aw-mod-search-result .aw-item p > span{margin-right: 10px;}
.aw-mod-search-result .aw-item .icon-g-replay{margin-right: 5px;font-size: 15px;vertical-align: -2px;}
.aw-mod-search-result .text-color-666{font-size: 12px;}
.aw-mod-search-result .aw-load-more-content{margin:20px 0 0;}

/* 小卡片提示box */
.aw-card-tips{display:none;position:absolute;z-index:9999;width: 270px;padding:15px;background: #FFF;border: 1px solid #999;box-shadow: 0 2px 3px #DFDFDF;}
.aw-card-tips .mod-head{position: relative;min-height:60px;padding-left: 60px;}
.aw-card-tips .mod-head p{margin: 0;}
.aw-card-tips .mod-head .img{position: absolute;left: 0;top: 0;}
.aw-card-tips .mod-footer{line-height: 26px;margin-top:10px;padding-top:10px;border-top: 1px dotted #E2E2E2;}
.aw-card-tips .icon-v{margin:4px 0 0 3px;}

/* @用户下拉 */
.content_cursor{position: absolute;z-index:-1;max-width:600px;font-size: 14px;font-family: "Helvetica Neue",Helvetica,Arial,'Microsoft YaHei',sans-serif;word-wrap: break-word;opacity: 0;}
.aw-invite-dropdown{position:absolute;left:0;top:0;z-index:1010;min-width:160px;background: #fff;border:1px solid #e6e6e6;border-radius:2px;}
.aw-invite-dropdown li{padding:5px 10px;cursor: pointer;}
.aw-invite-dropdown li:hover, .aw-invite-dropdown li.active{background: #f0f0f0;}
.aw-invite-dropdown li img{width: 30px;height: 30px;}
.aw-invite-dropdown li a{display: inline-block;height: 30px;line-height: 30px;padding-left:10px;cursor: pointer;}
.aw-invite-dropdown p{height: 26px;line-height: 26px;padding-left: 10px;margin:0;}

/* bs弹窗 */
.alert-box .modal-footer{line-height: 34px;}
.alert-box .modal-footer button{margin:0 0 0 20px;}
.modal-dialog textarea, .modal-dialog input{margin-bottom: 10px;}
.aw-share-box .modal-dialog, .aw-publish-box .modal-dialog, .aw-question-redirect-box .modal-dialog, .aw-inbox .modal-dialog, .aw-topic-edit-note-box .modal-dialog{width: 470px;}
/* 警告提示box */
.aw-tips-box .modal-dialog, .aw-image-box .modal-dialog, .aw-link-box .modal-dialog, .aw-confirm-box .modal-dialog{width: 370px;}
.aw-tips-box .modal-body{background: url(img/warmming.png) no-repeat right 5px;}
.aw-tips-box .modal-body p{margin: 10px 0;}
/* 微信绑定弹窗box */
.aw-alert-img-box .modal-body{background:none;}
.aw-alert-img-box .modal-body img{max-width: 328px;}

/* 发起box */
.aw-publish-box .modal-content{width: 470px;}
.aw-publish-box input{width:170px !important;}
.aw-publish-box .modal-body{padding-bottom: 0px;}
.aw-publish-box #qp_captcha{height: 36px;margin-left: 10px;}
.aw-publish-box .aw-publish-title .dropdown{width: 100%;}
.aw-publish-box .aw-publish-title .dropdown .dropdown-toggle span{width: 90%;}
.aw-publish-box .aw-publish-title .dropdown .dropdown-toggle a{width: 10%;}
.aw-publish-box .dropdown, .aw-question-drodpwon, .aw-inbox form{position: relative;}
/* 评论修改box */
.aw-edit-comment-box .modal-dialog{width:745px;}
.aw-edit-comment-box .modal-body textarea{margin:0;border-radius: 10px 10px 0 0;}
.aw-edit-comment-box .aw-file-upload-box{padding:20px;border:1px solid #ccc;border-top: none;border-radius: 0 0 10px 10px;}
.aw-edit-comment-box .modal-footer label{margin-left:5px;}
/* 回复收藏box */
.aw-favorite-box .aw-topic-name{display:inline-block;margin:0 3px 5px 3px;}

/* 用户初次登陆提示box */
.aw-first-login .mod-head{margin-bottom:10px;}
.aw-first-login .mod-head h2{margin-bottom: 40px;font-size: 20px;}
.aw-first-login .mod-head ul{width:560px;height: auto;overflow: hidden;border:1px solid #E3E3E3;}
.aw-first-login .mod-head ul.active, .aw-first-login .mod-head ul li.active{background: #E7EFF3;}
.aw-first-login .mod-head ul li{float: left;width: 186px;height:48px;line-height:48px;padding-left:20px;}
.aw-first-login .mod-head ul li em{display:inline-block;width: 25px;height: 25px;line-height: 25px;margin-right:10px;background: #E6E6E6;text-align: center;}
.aw-first-login .mod-head ul li.active em{background: #fff;}
.aw-first-login .aw-complete-data{height: auto;overflow: hidden;margin:20px 0;padding:40px;border:1px solid #E3E3E3;font-size: 12px;}
.aw-first-login .aw-complete-data .side-bar{width: 100px;margin-right: 20px;}
.aw-first-login .aw-complete-data .side-bar span{display:block;margin:5px 0 20px;text-align: right;}
.aw-first-login .aw-complete-data .side-bar .file-input{left: -12px;top: -4px;width: 70px;height: 24px;}
.aw-first-login .aw-complete-data input[type="text"]{width: 300px;margin-top:5px;}
.aw-first-login .aw-card-box-list .img{position: absolute;left: 15px;top: 15px;}
.aw-first-login .aw-card-box-list ul{width:580px;margin-top:10px;}
.aw-first-login .aw-card-box-list li{position: relative;float:left;width:270px;height:110px;margin:0 20px 20px 0;padding:15px 15px 15px 75px;border:1px solid #E3E3E3;font-size: 12px;}
.aw-first-login .aw-card-box-list li > span{display:inline-block;padding:0 6px;background:#D4F2FF;}
.aw-first-login .aw-card-box-list li .btn-mini{min-width: 60px;padding:3px 0;}
.aw-first-login .aw-card-box-list li p{margin:5px 0 0 0;}
.aw-first-login .mod-footer{line-height: 32px;}
.aw-first-login .mod-footer .btn-success{margin-left: 10px;}

/* 回复编辑器 */
.aw-replay-box{margin:20px 0;padding:0 20px;}
.aw-replay-box form > .mod-head{position: relative;height:auto;overflow:hidden;min-height:32px;margin-bottom:5px;padding-left: 40px;}
.aw-replay-box .mod-head > .aw-user-name{position: absolute;left: 0;top:0;}
.aw-replay-box .mod-head > .aw-user-name img{width: 32px;height: 32px;}
.aw-replay-box .mod-head p{height: auto;overflow: hidden;margin:0;}
.aw-replay-box .mod-head p label{margin-left: 10px;}
.aw-replay-box .mod-head p input{margin-right: 5px;position: relative;top:-1px;top:1px\0;}
.aw-replay-box .mod-body{position:relative;}
.aw-article-replay-box{position:relative;margin:20px 20px 20px 0;padding-left: 60px;}
.aw-article-replay-box .mod-head{position:absolute;left:20px;}
.aw-article-replay-box .mod-head img{width: 32px;height: 32px;}
.aw-article-replay-box .mod-body{margin-bottom:10px;}
.aw-article-replay-box .mod-footer input{width: 80px;}
.advanced_editor{padding: 10px !important;}
.markItUpHeader{overflow: hidden;margin-bottom: 10px;}
.markItUpHeader ul li {position: relative;float: left;width:17px;margin: 3px 4px;font-size: 16px;text-shadow:0 1px 0 #fff;text-align: center;cursor: pointer;}
.markItUpHeader ul li:hover{opacity: 0.7;}
.markItUpHeader ul li a {position:absolute;left:0;top:0;display: block;margin: 0;padding: 3px;text-indent: -10000px;}
.markItUpHeader ul li.markItUpSeparator {background-color: #CCCCCC;height: 16px;margin: 3px 14px;padding:0;overflow: hidden;width: 1px;}
.markItUpHeader .fa-bars{width:21px;top:1px;right:3px;margin:0;padding:3px 0;background-color: #d6dadb;border:1px solid #a2a6a7;border-radius:2px;color: #9f9f9f;font-size: 12px;}
.markItUpHeader .fa-bars.cur{background-color:#f0f0f0;border-color: #d9d9d9;color: #999;box-shadow: 0 1px 0 #fff inset;}
.markItUpHeader .fa-question{font-size: 20px;top:-2px;right:5px;}
.markItUpHelper{margin-bottom: 10px;background-color: #F3F5F4;border:1px solid #ccc;border-radius: 5px;}
.markItUpHelper ul li{float: left;padding:3px 10px;cursor: pointer;}
.markItUpHelper ul li:first-child:hover{border-radius: 5px 0 0 5px;}
.markItUpHelper ul li:hover, .markItUpHelper ul li.active, .markItUpHelper .content{background-color: #fffce7;}
.markItUpHelper .content{border-radius: 0 0 5px 5px;}
.markItUpHelper .content .tab-pane{display: none;padding:10px;}

/* 新编辑器 */
.aw-editor-box .wmd-input{border:none;}
.aw-editor-box .mod-head{border:1px solid #e6e6e6;border-radius: 4px;}
.aw-editor-box .mod-head .btn-toolbar{margin:0;background-color: #f5f5f5;border-bottom: 1px solid #e6e6e6;}
.aw-editor-box .mod-head .btn-toolbar > .btn-group{margin:0;}
.aw-editor-box .mod-head .btn-toolbar .btn-group .btn + .btn{margin:0;}
.aw-editor-box .mod-head .btn-toolbar .btn{background-color: transparent;border-radius: 0;font-size: 16px;}
.aw-editor-box .mod-head .btn-toolbar .btn i{color: #666;}
.aw-editor-box .mod-head .btn-toolbar .btn.active i{color: #67b7ff;}
.aw-editor-box .mod-head .btn-toolbar .btn:hover{background-color: #ebebeb;}
.aw-editor-box .mod-head .btn-toolbar .tooltip{width: 100px;}
.aw-editor-box .mod-body{position:relative;margin-top: 15px;line-height: 28px;}
.aw-editor-box .mod-body #question_detail_message{line-height: 34px;}
.aw-editor-box .mod-body #answer_content_message{margin-right: 10px;}
.aw-editor-box .aw-upload-tips, .aw-replay-box .aw-upload-tips{position: absolute;left: 100px;top: 3px;}

/* 编辑器回复样式 */
#wmd-button-bar .wmd-helper{background-color: #f5f5f5;border-bottom:1px solid #e6e6e6;}
#wmd-button-bar .wmd-helper ul{border-bottom: 1px solid #e6e6e6;}
#wmd-button-bar .wmd-helper ul li{float: left;height:32px;padding:0 14px;line-height:32px;cursor: pointer;border-left: 1px solid #f5f5f5;border-right: 1px solid #f5f5f5;}
#wmd-button-bar .wmd-helper ul li:first-child{border-left: none;}
#wmd-button-bar .wmd-helper ul li.active{height:33px;line-height:33px;margin-bottom:-1px;border-left: 1px solid #e6e6e6;border-right: 1px solid #e6e6e6;}
#wmd-button-bar .wmd-helper ul li:first-child.active{border-left: none;}
#wmd-button-bar .wmd-helper ul li:hover, #wmd-button-bar .wmd-helper ul li.active, #wmd-button-bar .wmd-helper .content{background-color: #ffffff;}
#wmd-button-bar .wmd-helper .content .tab-pane{padding:10px;}
.wmd-preview{min-height:20px;margin-top:15px;padding: 19px;line-height:30px;background-color: #fafafa;border:1px solid #e3e3e3;border-radius: 4px;text-align: left;}
.wmd-preview em{font-style: italic;}
.wmd-preview ul, .wmd-preview ol{margin-bottom:10px;padding-left: 40px;list-style: decimal;}
.wmd-preview ul, .markitup-box ul{list-style: disc;}
.wmd-preview ul, .wmd-preview ol, .markitup-box ul, .markitup-box ol{line-height: 30px;}
.wmd-preview h2{font-size: 1.5em;line-height: 30px;}
.wmd-preview code, .markitup-box code{background-color: #EDEAD5;display: block;font-family: "Courier New",Courier,monospace;margin: 5px 0;padding: 5px;white-space: normal;text-align: left;font-size: 14px;}
.wmd-preview p{margin:0;}
/* new */
.markitup-box{position:relative;z-index:1;line-height: 180%;word-wrap: break-word !important;}
.markItUpPreviewFrame {margin-top: 20px;padding: 10px;background: #FAFAFA;border: 1px solid #CCCCCC;font-size: 14px;line-height:20px;}
.markItUpPreviewFrame .title{padding-bottom:5px;border-bottom: 1px solid #E2E2E2;}
.markitup-box h2, #markItUpPreviewFrames h2, .markitup-box h3, #markItUpPreviewFrames h3 {font-weight: bold;margin: 10px 0;}
.markitup-box h2, #markItUpPreviewFrames h2 {font-size: 1.5em;line-height: 30px;}
.markitup-box h3, #markItUpPreviewFrames h3 {font-size: 1.17em;}
.markitup-box em, #markItUpPreviewFrames em {font-style: italic;}
.markitup-box ul, #markItUpPreviewFrames ul{margin-left: 35px;list-style: square;}
.markitup-box ol, #markItUpPreviewFrames ol {margin-left: 25px;padding: 5px 0 5px 20px;list-style: decimal;}
.markitup-box p, #markItUpPreviewFrames p {padding: 5px;}
.markitup-box ol p, .markitup-box ul p, #markItUpPreviewFrames ol p, #markItUpPreviewFrames ol p {display: inline !important;padding: 0 !important;}
.markitup-box code, #markItUpPreviewFrames code {background-color: #EDEAD5;display: block;font-family: "Courier New",Courier,monospace;margin: 5px 0;padding: 5px;white-space: normal;text-align: left;}
.markitup-box img {max-width:570px;margin-bottom: 15px;}
.markitup-box blockquote, #markItUpPreviewFrames blockquote{margin:0 0 10px;background-color: #FBFBFB;border-left: 5px solid #E2E2E2;line-height: 22px;margin: 5px 0;padding: 10px;font-size: 14px;}
.markitup-box ul.aw-comment-upload-file-list{margin: 0;padding-left: 0;list-style: none;}
.markitup-box ul.aw-comment-upload-img-list a{display:inline-block;margin:15px 0;}
.markitup-box iframe{position: relative;z-index: 1;}

/* 自定义页面 */
.aw-custom-page{padding: 20px;background: #fff;}
.aw-custom-page h1{font-size: 26px;}
.aw-custom-page h2{font-size: 22px}
.aw-custom-page h3{font-size: 18px;}
.aw-custom-page h4{font-size: 16px;}
.aw-custom-page h5{font-size: 14px;}
.aw-custom-page h6{font-size: 12px;}
.aw-custom-page p{line-height: 24px;}
.aw-custom-page ul, .aw-custom-page ol{padding:0 0 0 20px;}
.aw-custom-page ul{list-style-type: square;}
.aw-custom-page ol{list-style-type: decimal;}
.aw-custom-page img{margin:10px 0;}

/* 自定义页面 积分说明 */
.aw-point-rule h1{margin-bottom: 30px;}
.aw-point-rule dl{height: auto;overflow: hidden;margin:0;padding:10px;border-bottom: 1px dashed #dddddd;transition: background-color .3s ease-in-out;}
.aw-point-rule dl:hover{background-color: #f5f5f5;}
.aw-point-rule dt, .aw-point-rule dd{float: left;height: 30px;line-height: 30px;}
.aw-point-rule dt{width: 500px;font-weight: normal;}
.aw-point-rule dd{float: right;}
.aw-point-rule .green{color: #388202;}
.aw-point-rule .red{color: #ff5d61;}

/* 微信登陆页面 */
.aw-wechat-body{background-color: #333;}
.aw-wechat-body h1{margin-bottom:20px;font-size: 20px;text-shadow:0 2px 0 #333;color:#fff;text-align: center;}
.aw-wechat-body .aw-wechat-login-box{width: 500px;margin:60px auto 0;text-shadow:0 1px 1px #333333;text-align: center;}
.aw-wechat-body .aw-wechat-login-box .icon-wechat{display:block;font-size: 200px;}
.aw-wechat-body .aw-wechat-login-box img{width: 280px;}
.aw-wechat-body .aw-wechat-login-box .info{display:inline-block;width:280px;height:46px;line-height:46px;margin:20px auto 0;padding:0 40px;box-shadow:0 5px 10px -5px #191919 inset, 0 1px 0 0 #444444;border-radius: 20px;color:#fff;}
.aw-wechat-body .aw-wechat-login-box .info b{color:#ffba61;}

/* 404页面 */
.aw-404 {background:#f4f4f4;}
.aw-404 .aw-footer-wrap {background-color: #fff;}
.aw-404-wrap{width: 500px;height:auto;margin:100px auto 300px;text-align: center;}
.aw-404-wrap p{margin: 45px auto 30px; font-size: 18px;}
.aw-404-wrap p a{font-size:18px;color: #54BEFF;}
.aw-404-wrap .aw-search-box {width: 460px;float: none;margin: 0 auto;}
.aw-404-wrap .aw-search-box .form-control {border-radius: 0;border-color: #54BEFF;}
.aw-404-wrap .aw-search-box .input-group {margin: 0 auto;}
.aw-404-wrap .aw-search-box .input-group input {width: 460px;}
.aw-404-wrap .aw-search-box .input-group-addon {border-radius: 0;border-color: #54BEFF; color: #fff;background-color: #54BEFF;}

/* noscript 提示 */
.aw-noscript{position: absolute;z-index: 100;width: 100%;height: 100%;background-color: #f5f5f5;overflow: hidden;}

/* 字体icon & icon */
.icon-tips{display:block;width: 6px;height: 6px;border-radius: 6px;background-color: #ff5428;}
.icon-inverse{display:inline-block;height: 20px;padding:0 5px;line-height:20px;background-color: #cccccc;color: #fff;text-align: center;border-radius: 4px;font-size: 12px;}
.icon-inverse i{top:0 !important;margin:0;color: #fff;font-size: 12px !important;}
.icon-inverse.follow{background-color: #f5f5f5;color: #b3b3b3;}
.icon-inverse.follow.active:before{content: "\e636";}
.icon-reply, .icon-prestige, .icon-score, .icon-agree, .icon-comment, .icon-share, .icon-edit, .icon-invite, .icon-report, .icon-fold, .icon-best, .icon-favor, .fa-map-marker, .icon-thank, .fa-user, .fa-home, .fa-thumbs-up, .fa-reply, .fa-signal, .fa-tag, .icon-cog, .icon-off, .fa-bookmark, .fa-chevron-down, .icon-mobile-phone, .icon-envelope, .icon-check, .fa-thumbs-down, .fa-trash-o, .fa-paperclip, .fa-retweet, .fa-star{margin-right: 2px;color: #999;cursor: pointer;font-size: 16px;}
.icon-v{color: #a3d700;font-size: 16px;}
.icon-v.i-ve{color: #ffca3f;}
.fa-edit{margin-top:10px\0;}
.fa-check{margin-left:5px;color: #4bbe00;font-size: 12px;cursor: pointer;}
.fa-check.active:before{content:"\f067";color: #43b3ff;}
.fa-chevron-down.active:before{content:"\f077";}
.fa-mobile-phone{margin-left:5px;font-size: 21px;color:#9d9c9c;vertical-align: -2px;}
.fa-external-link{font-size: 12px;}
.icon-add-alt{font-size: 18px;margin-right: 10px;}
.icon-register-arrow{display: inline-block;width: 20px;height: 48px;background-image: url('img/register-triangle.png');background-color:#fff;background-repeat: no-repeat;}
.i-dropdown-triangle{display:inline-block;width:13px;height:7px;background: url('img/icon-angle-up.png') no-repeat;}
.i-private-replay-triangle{width: 8px;height: 10px;background: url('img/icon-angle-right.png') no-repeat;}
.fa-fire, .fa-tags{margin-right: 5px;}
.fa-retweet{font-size: 14px;}

/*分享icon*/
.jiathis_style_24x24 a span{font-size: 14px !important;padding: 0 20px;line-height: 26px !important;}
.jiathis_style_24x24 a i{margin-left: 5px;}

/* 不兼容页面提示 */
#browser-not-support{position: fixed;bottom: 0;left:0;z-index:9999;width:100%;margin:0;padding:20px 0 10px;background: #F2DEDE;border:1px solid #EED3D7;color: #B94A48;}
#browser-not-support .content{width: 600px;margin-left: 20px;}

@media not all, (min-resolution: 192dpi) {
	.aw-logo a {
	    background-image: url("img/logo@2x.png");
	    background-size: 57px auto;
	}
}

/* ipad横屏 */
@media (max-width: 1024px) {
	.aw-container-wrap{padding:0 20px;}
	/*问题详情页*/
	.aw-question-detail .mod-head h1{max-width: 430px;}
}
@media (max-width: 992px){
	.container{width: 100% !important;}
}
/* ipad竖屏 */
@media (max-width: 769px) {
	.aw-feed-list .aw-item .more-operate{display:inline-block;}
	.aw-container-wrap{padding: 0 40px;}
	.container{width: 100%;}
	.aw-main-content{padding: 0;}
	/*问题详情页*/
	.aw-question-detail .mod-head h1{max-width: 510px;}
	.aw-question-detail .operate .dropdown-menu, .aw-question-detail .mod-head .operate .aw-dropdown-list{width: 95px;min-width: 95px;}
	/*导航条*/
	.aw-user-nav{position: absolute;right: 0;padding-right: 0;}
	.aw-user-nav .badge{right: 0;}
	.aw-publish-btn{display: none;}
}
/* iphone横屏幕 */
@media (max-width:640px) {
    /*公共部分*/
    .aw-container-wrap{padding: 0 10px;}
    .aw-common-list .aw-item{padding-left: 5px;}
	.aw-question-comment-box .aw-vote-bar, .aw-vote-count{position: relative !important;left: 0 !important;}
	.close{display: block;width: auto;}
	.page-control{text-align: center;}
	.page-control .pagination{float: none !important;}
	.aw-feed-list .mod-head h2{font-size: 14px;}
	.aw-vote-bar{position: relative;}
	.markitup-box img{width: 100% !important;}
	/*导航条*/
	.aw-top-nav{width: 100% !important;}
	.aw-top-nav .navbar-collapse{display:block;position:absolute;left:-75%;width: 130px;margin-top:4px;background-color: #4079A8;transition: left .25s linear;}
	.aw-top-nav .navbar-collapse.active{left: -15px;}
	/*分类*/
	.category .col-sm-12{padding:0;}
	.category .col-sm-12 > ul > li{margin:2px 3px;padding:0 4px;}
	.category dl:hover .aw-dropdown, .category ul li:hover .aw-dropdown, .category dl .aw-dropdown ul li a{display:none;}
	/*话题详情页*/
	.aw-topic-detail-title{margin:0;min-height: 50px;}
	.aw-topic-list-mod .aw-item{padding-left: 0;}
	.aw-topic-list .mod-head{margin:0;}
	/*问题详情页*/
	.aw-invite-box .aw-mod-body ul{width:100%;max-height: 999px;margin:0;}
	.aw-invite-box .aw-mod-body ul li{width: 100%;margin:0;}
	.aw-file-uploader{width: 100%;}
	.aw-file-uploader dl{float: none;width:100%;height:auto;overflow:hidden;margin-right:0;}
	.aw-question-detail .operate{position: relative !important;left: 0;top: 0;margin-bottom: 10px;}
	.aw-question-comment-box .aw-feed-list-content p{max-width: 330px;}
	/*文章广场*/
	.aw-article-list .aw-item{padding-left: 0;}
	/*通知*/
	.aw-top-nav .badge{position: relative;top: 0;left: 0;}
	/*弹窗*/
	.aw-share-box .modal-dialog, .aw-publish-box .modal-dialog, .aw-question-redirect-box .modal-dialog, .aw-inbox .modal-dialog, .aw-topic-edit-note-box .modal-dialog, .aw-tips-box .modal-dialog, .aw-image-box .modal-dialog, .aw-link-box .modal-dialog, .aw-edit-comment-box .modal-dialog, .aw-publish-box .modal-content{width: auto;}
	.aw-share-box #bdshare li{margin:0 15px 20px 0;}
	/*发起问题页面*/
	.aw-publish .col-sm-12{padding:0;}
	.aw-publish-title input, .aw-publish-article .aw-publish-title input{width: 70%;}
	.aw-publish-title .dropdown{width: 30%;}
	/*个人页面*/
	.aw-user-detail-box .mod-head{min-height:70px !important;padding:10px 10px 0px 70px !important;}
	.aw-user-detail-box .mod-head img{width: 50px;left: 10px !important;top: 10px !important;}
	.aw-user-detail-box .mod-head .aw-user-follow-box{float: none;}
	.aw-user-detail-box .mod-body .meta{height: 90px !important;padding:0 10px !important;}
	.aw-user-detail-box .mod-body .meta span{display: block;float: left;width: 50%;margin:0 !important;}
	.aw-user-detail-box .mod-footer a{padding:0 5px !important;}
	.aw-user-center-tab .tab-pane > .aw-mod > .mod-head, .aw-user-center-tab .tab-pane > .aw-mod > .mod-body{padding:10px !important;}
	.aw-user-center-tab .tab-pane > .aw-mod .aw-hide-txt{display: block !important;}
	.aw-user-center-tab .tab-pane > .aw-mod a.aw-hide-txt{max-width: auto;}
	/*用户排名列表*/
	.aw-user-sort .side-nav, .aw-user-sort .content{width: 100%;}
	.aw-user-sort .side-nav{border-right:none;border-bottom:1px solid #DCDCDC;}
	.aw-user-sort .side-nav ul li{float: left;margin:0;}
	.aw-user-sort .content{border:none;}
	.aw-user-sort .aw-user-sort-count{position:relative;top:0;left:0;display:inline-block;float:left;width: 35px;height: 35px;line-height:35px;font-size: 18px;}
    .aw-user-sort .aw-user-img{position:relative;left:0;top:0;margin-left: 10px;}
    .aw-user-sort .aw-user-img img{width: 35px;height: 35px;}
    .aw-user-sort .aw-item{padding:25px 0 25px 0;}
    .aw-user-sort .aw-item .text-color-999{margin-top: 10px;}
}
/* iphone竖屏幕 */
@media (max-width:321px){
	.aw-top-menu-wrap{margin:0 0 10px;}
	.aw-top-menu-wrap .container{padding: 0;}
	.aw-main-content{padding:0;}
	.aw-container-wrap{padding:0 10px;}
	.aw-question-comment-box .aw-feed-list .aw-item .aw-user-img{display: none;}
	.aw-feed-list .aw-item .more-operate, .aw-feed-list .aw-item:hover .more-operate, .aw-feed-list .aw-item:hover .close{display: inline;}
	.aw-question-detail-txt iframe{max-width: 100%;}
	.aw-publish-btn{position: absolute;left: 50px;}
	.aw-top-nav .navbar-collapse.active{left: 0;}
	/* 分类导航 */
	.category dl{padding:0;}
	.category dl dt, .category dl dt img{width: 30px;height: 30px;}
	.category dl dd{width: 95px;}
	/*发起页面*/
	.aw-publish-title .aw-publish-title .dropdown{width: 117px;}
	.aw-publish-title .aw-publish-title .dropdown .dropdown-menu{float: right !important;left:auto;right: 0;}
	.aw-publish-title .dropdown .dropdown-menu{width: 120px;min-width: 120px;}
	.aw-publish-title input, .aw-publish-article .aw-publish-title input{width: 60%;}
	.aw-publish-title .dropdown{width: 40%;}
}
