/* 登陆页面 */
body{background:url('img/login_bg.jpg') no-repeat #E9F0F4;}
#wrapper{position: relative;margin-bottom:20px;padding-top:100px;}
.btn-weibo{background-color: #ff6666;color: #fff;}
.btn-weibo:hover{background-color: #FF4D4D;color: #fff;}
.btn-weibo:active{background-color: #E64545;color: #fff;}
.btn-qq{background-color: #418ae2;color: #fff;color: #fff;}
.btn-qq:hover{background-color: #2D7FE2;color: #fff;}
.btn-qq:active{background-color: #1773E2;color: #fff;}
.btn-wechat{background-color: #73db42;color: #fff;}
.btn-wechat:hover{color: #fff;}
.btn-blue{height:40px;line-height:40px;padding:0;border:none;background-color: #66b7ff;color: #fff !important;}
.btn-blue:hover{background-color: #4DAAFF;}
.btn-blue:active{background-color: #339DFF;}
.btn:active, .btn.active{box-shadow: none;}
.aw-login-box{width: 714px;margin:0 auto;background-color: #ffffff;border:1px solid #b3b3b3;border-radius: 3px;}
.aw-login-box .logo{width:151px;height:94px;background:url('img/login_logo.png') no-repeat;}
.aw-login-box .mod-body{padding:50px 60px;}
.aw-login-box .mod-body .content{width: 300px;margin-right: 60px;}
.aw-login-box .mod-body .content h2{margin:13px 0 40px;color: #666666;}
.aw-login-box .mod-body .content ul li{margin-top: 20px;line-height: 30px;}
.aw-login-box .mod-body .content ul li:first-child{margin-top: 0;}
.aw-login-box .mod-body .content ul li.last{font-size: 12px;line-height: 40px;}
.aw-login-box .mod-body .content ul li.last a{color: #666666;}
.aw-login-box .mod-body .content ul li .btn-blue{width:112px;}
.aw-login-box .mod-body .side-bar{height: 326px;padding:60px 0 60px 60px;border-left: 1px solid #e6e6e6;}
.aw-login-box .mod-body .side-bar h3{margin-bottom:27px;color: #666666;text-align: center;}
.aw-login-box .mod-body .side-bar .btn{position:relative;width: 170px;height: 40px;line-height: 40px;margin:0 0 20px;padding:0 0 0 15px;}
.aw-login-box .mod-body .side-bar .btn i{position:absolute;left:15px;top:10px;font-size: 18px;}
.aw-login-box .mod-body .side-bar .btn-wechat .img{display: none;}
.aw-login-box .mod-body .side-bar .btn-wechat.active{position: relative;height:200px;background-color: #4d4d4d;}
.aw-login-box .mod-body .side-bar .btn-wechat.active .img{display:block;position: absolute;left: 10px;top: 40px;width:148px;height: 148px;}
.aw-login-box .mod-body .side-bar .btn-wechat.active img{max-width: 148px;}
.aw-login-box .mod-body .side-bar .btn-wechat.active #aw-loading-mini-box{margin-top: 55px;}
.aw-login-box .mod-body .form-control{height: 40px;line-height: 28px\0;padding-left:15px !important;box-shadow: none;border-color: #e6e6e6;}
.aw-login-box .mod-footer{height: 70px;line-height:70px;background-color: #f5f5f5;padding:0 60px;color: #66b7ff;}
.aw-login-box .mod-footer span{color: #666666;}
.aw-login-box .mod-footer a{color: #66b7ff;}
.aw-footer-wrap{color: #999999;}
.aw-footer-wrap a{color: #66b7ff;}

/* iphone竖屏幕 */
@media (max-width:640px){
	/*登录界面*/
	#wrapper{padding: 20px;}
	.aw-login-wrap{width: auto;}
	.aw-login-box .aw-mod-head, .aw-login-box .aw-mod-body, .aw-login-box .aw-mod-footer{width: auto;}
	.aw-login-box .aw-mod-body{padding: 20px;}
	.aw-login-box .aw-mod-body #aw-login-user-name, .aw-mod-body #aw-login-user-password{width: 195px;}
	.aw-login-box .aw-mod-footer{padding:0 10px !important;}
}
