@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?-rajrx9');
	src:url('../fonts/icomoon.eot?#iefix-rajrx9') format('embedded-opentype'),
		url('../fonts/icomoon.woff?-rajrx9') format('woff'),
		url('../fonts/icomoon.ttf?-rajrx9') format('truetype'),
		url('../fonts/icomoon.svg?-rajrx9#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-triangle:before {
	content: "\e62a";
}
.icon-wechat:before {
	content: "\e628";
}
.icon-lock:before {
	content: "\e629";
}
.icon-i:before {
	content: "\e626";
}
.icon-bubble:before {
	content: "\e627";
}
.icon-flag:before {
	content: "\e625";
}
.icon-txweibo:before {
	content: "\e622";
}
.icon-bestbg:before {
	content: "\e623";
}
.icon-best:before {
	content: "\e624";
}
.icon-job:before {
	content: "\e61e";
}
.icon-favor:before {
	content: "\e620";
}
.icon-down:before {
	content: "\e621";
}
.icon-location:before {
	content: "\e61d";
}
.icon-bind:before {
	content: "\e61f";
}
.icon-weibo:before {
	content: "\e618";
}
.icon-qq:before {
	content: "\e619";
}
.icon-signup:before {
	content: "\e61a";
}
.icon-users:before {
	content: "\e61b";
}
.icon-topic:before {
	content: "\e61c";
}
.icon-login:before {
	content: "\e617";
}
.icon-logout:before {
	content: "\e616";
}
.icon-insert:before {
	content: "\e612";
}
.icon-setting:before {
	content: "\e615";
}
.icon-inbox:before {
	content: "\e614";
}
.icon-pic:before {
	content: "\e610";
}
.icon-user:before {
	content: "\e613";
}
.icon-delete:before {
	content: "\e611";
}
.icon-comment:before {
	content: "\e60f";
}
.icon-share:before {
	content: "\e60e";
}
.icon-loading:before {
	content: "\e60d";
}
.icon-inviteask:before {
	content: "\e60c";
}
.icon-home:before {
	content: "\e601";
}
.icon-list:before {
	content: "\e602";
}
.icon-ask:before {
	content: "\e603";
}
.icon-search:before {
	content: "\e604";
}
.icon-more:before {
	content: "\e605";
}
.icon-agree:before {
	content: "\e600";
}
.icon-disagree:before {
	content: "\e606";
}
.icon-replay:before {
	content: "\e607";
}
.icon-draft:before {
	content: "\e608";
}
.icon-check:before {
	content: "\e609";
}
.icon-invite:before {
	content: "\e60a";
}
.icon-edit:before {
	content: "\e60b";
}
