/*改写bootstrap部分*/
.aw-content-wrap .fa{width:25px;height:25px;border-radius:5px;background:#8bbf61;color:#fff;text-align:center;line-height:25px;line-line-line-;}
.aw-content-wrap .fa.disabled{background-color: #c5c5c5;}
.tooltip-inner{background:#246594;}
.tooltip.top .tooltip-arrow{border-top-color:#246594;}
.nav-tabs > li > a:hover{border-color:transparent;}
.table{margin-bottom:0;}
.radio-inline,label.checkbox-inline{margin:0 15px 0 0;padding:0;}
.radio-inline + .radio-inline,.checkbox-inline + .checkbox-inline{margin-left:0;}
.nav > li > a:hover,.nav > li > a:focus{background-color:transparent;}
.nav .open > a,.nav .open > a:hover,.nav .open > a:focus{background-color:#fff;}
.table-striped > tbody > tr:nth-child(odd) > td,.table-striped > tbody > tr:nth-child(odd) > th{background-color:#F5F8FA;}
.alert{padding:5px 15px;}
.dropdown-menu .divider{margin: 5px 0;}
.aw-alert{position: absolute;top: 0;}
.table tbody form tr td,.table tfoot form tr td{padding: 8px;border-top: 1px solid #ddd;line-height: 1.42857143;}
/*公共部分*/
body,a{color:#080808;font:14px/1.5em "microsoft yahei";}
html,body{height:100%;}
a:hover,a:focus{text-decoration:none;cursor:pointer;}
body{background:#eff0f4;}
ul,ol{padding:0;list-style:none;}
.middle{line-height:32px;}
.text-color-999{margin:2px 0 0;color:#999;font-size:11px;}
.aw-hide-txt{overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.nopadding{padding:0;}
.textwrap{ word-break: break-all;overflow: height: ;}
/*.nopadding input{margin-left:-10px;}*/
/* 警告提示box */
.aw-tips-box .modal-dialog, .aw-image-box .modal-dialog, .aw-link-box .modal-dialog, .aw-confirm-box .modal-dialog{width: 370px;}
.aw-tips-box .modal-body{background: url(../img/warmming.png) no-repeat right 5px;}
.aw-tips-box .modal-body p{margin: 10px 0;}
/* 全局loading样式 */
#aw-loading{position:fixed;top:50%;left:50%;z-index: 10001;margin: 0 0 0 -20px;width: 40px;height: 40px;border-radius: 5px;background:#000;opacity: 0.75;filter: alpha(opacity=75);}
#aw-loading-box{width:40px;height:40px;background-image: url('../../common/loading.png');}
.aw-loading{display:inline-block;width:16px;height:16px;background:url("img/ajax-loader.gif") no-repeat;}
/* 附件上传 */
#upload-form{position: relative;width: 0;height: 0;opacity: 0;filter:alpha(opacity=0);}
#upload-form .file-input{position: absolute;left: 0;top: 0;width: 50px;height: 50px;}

/*后台header start*/
.aw-header{position:fixed;top:0;z-index:999;margin-bottom:0;width:100%;height:50px;border:none;border-bottom:1px solid #d5d5d5;background:#fff;}
.mod-head-btn{padding:0 20px;height:50px;outline:none;border:none;border-right:1px solid #e2e1e1;border-radius:0;background:transparent;color:#676766;}
.mod-head-btn:hover{background:#323232;color:#fff;-webkit-transition:background .4s ease-in, color .3s ease-out;transition:background .4s ease-in, color .3s ease-out;}
.mod-user{top:38px;right:0;min-width:inherit;border-top:none;}
.dropdown-menu a{color:#000;}
.mod-bell i{position:relative;top:3px;margin-top:2px;width:1.2em;font-size:20px;}
.mod-bell span{padding-top:5px;}
.mod-bell i:hover{color:#3695d5;}
.mod-chat{top:38px;min-width: 240px;left: -210px;padding:0;border:1px solid #DFDFDF;border-top:none;border-radius:0;box-shadow:0 3px 3px rgba(0,0,0,0.1);}
.mod-chat li{text-align: center;}
.mod-chat p {margin-bottom: 0;line-height: 45px;text-align: center;background:#f4f4f4}
.mod-media{margin:0;padding:10px;width:100%;border-bottom:1px solid #DFDFDF;line-height:1em;}
.mod-chat:after,.mod-chat:before{bottom: 100%;left: 92%;border: solid transparent;content: " ";height: 0;width: 0;position: absolute;pointer-events: none;border-color: rgba(255, 255, 255, 0);border-bottom-color: #f4f4f4;border-width: 7px;margin-left: -7px;}
.mod-chat:before{border-bottom-color: #ccc;border-width: 8px;margin-left: -8px;}
.mod-media a{padding:2px;}
.mod-btn a{color:#fff;}
.mod-btn a:hover{background:#3695d5;}
.mod-chat .thumb{display:block;padding:3px;border:1px solid #e2e1e1;background:#fff;}
.mod-header-user a.dropdown-toggle{margin-right:15px;padding:10px 0;}
.mod-header-user ul li{display:inline-block;margin:10px 0 0;}
.mod-header-user ul li ul li{margin-top: 0;padding: 0 15px;}
.mod-header-user ul li ul li:hover,.mod-user li:hover{background: #f6f6f6;}
.mod-header-user ul li ul li a{line-height: 25px;white-space: normal;padding: 10px 0}
.mod-user{width: 150px;}
.mod-header-user .mod-user li {display: block;}
.aw-header ul li.username{margin-right:30px;}
.aw-header .dropdown-menu li .fa{width:27px;vertical-align:middle;}
.mod-list-head{background: #f4f4f4;text-align: center;line-height: 40px;border-bottom: 1px solid #ddd;}
.mod-user li a{padding: 0}

/*aw-side start*/
.aw-side{position:fixed;top:0; z-index:16;display:block;float:left;overflow:hidden; padding-top: 50px;width:235px;height:100%;background:#323232;}
.aw-side .mod-logo{padding:10px 10px 10px 25px;height:55px;}
.ps-scrollbar-y-rail{margin-top: 50px;}
.aw-side .mod-message{padding:8px 5px 0 10px;height:55px;background:#3f3f3f;}
.aw-side .mod-message a{position:relative;padding:0;width:35px;height:35px;border-color:#323232;background:#323232;color:#fff;line-height:35px;line-line-line-;}
.aw-side .mod-message a:hover{background:#3695D5;}
.aw-side .mod-message .fa-home:before{font-size:18px;}
.aw-side .mod-message a span{position:absolute;top:-5px;right:-7px;z-index:2;padding:3px 5px;border:none;background:#3695d5;}
.aw-side .mod-logo img{display:block;width:57px;height:36px;}
.aw-side .mod-logo span{padding-left:10px;color:#fff;font-size:22px;line-height:40px;}
.aw-side ul{padding:0;width:235px;list-style:none;}
.aw-side ul li{border-bottom:1px solid #434343;}
.aw-side .active,.aw-side ul li a.active:hover{border-color:#207fbd;background:#3695D5;color:#fff;}
.aw-side ul li ul li a{border:none;text-indent:40px;}
.aw-side ul li ul li a.active{border:none;border-color:#323232;}
.aw-side ul li a{position:relative;display:block;padding-left:25px;height:48px;outline:none;border-right:4px solid #353535;border-left:4px solid #353535;background:#3f3f3f;color:#999;font-size:14px;line-height:48px;line-line-line-;}
.aw-side .fa:before{display:inline-block;width:35px;vertical-align:middle;text-align:center;font-size:22px;}
.aw-side .fa-home:before{font-size:28px;}
.aw-side ul li a:hover,.aw-side ul li ul li a:hover,.aw-side ul li ul li a.active,.aw-side ul li ul li a.active:hover{background:#323232;color:#fff;}
.aw-side ul li ul{display:none;}
.aw-side ul li ul.block{display:block;}
.aw-side ul li a.collapsed[data=icon]:after{position:absolute;right:15px;content:"\f056";}
.aw-side ul li a[data=icon]:after{position:absolute;right:15px;content:"\f054";}

/*数据内容区域 start*/

.aw-content-wrap{margin:70px 0 0 235px;padding:0 15px 20px;min-height:100%;height:auto;}
.aw-content-wrap .echart-date{margin-top:20px;padding-left:5px;}
.aw-content-wrap .echart-date .nopadding{padding:0;line-height:36px;}
.aw-content-wrap .mod-echat-info{margin-top:20px;padding: 0;}
.aw-content-wrap .mod-double{margin-bottom:10px;}
.aw-content-wrap .mod-double .fa-calendar{left: 20px;}
.aw-content-wrap .date-seach{padding: 7px 10px}
#main,#main2,#main3{height: 240px;border: 2px solid #fff; background: #fff!important;}
#main:hover,#main2:hover,#main3:hover{border: 2px solid #3695D5;}
#main3{margin-top: 20px;height: 300px;}
.mod-echat-info .col-md-6{margin-bottom: 40px;}
#sorttable .sorted {background-color: oldlace!important;}
#sorttable thead td:first-child{cursor: inherit;}
#sorttable thead td{cursor: pointer;}
#sorttable .fa {width:inherit; height: inherit;border-radius: inherit;background: transparent; color: #000;text-align: inherit;line-height: inherit; }
#sorttable .fa-sort-desc{position: relative;top: -3px;}
.sorttable-mask{background: #e7e7e7;opacity: .8; filter:alpha(opacity="80");position: absolute;top: 111px;font-size: 18px;text-align: center;}

/*页面底部区域 start*/
.aw-footer{clear:both;overflow:hidden;margin:-40px 0 0 225px;height:50px;background:#efefef;text-align:center;line-height:52px;}
.aw-footer p{font-size:12px;}

/*右侧公共部分*/
.aw-content-wrap .mod-symbol{margin-left:-2px;padding:0;width:2px;text-align:center;font-size:22px;line-height:35px;}
#remove_user_form{border-bottom: 1px solid #e5e5e5}
#remove_user_form .table>tbody>tr>td{border-top: none;}
/* 右侧公共头部部分 mod-head*/
.aw-content-wrap .mod-head .nav-tabs{border-bottom:none;}
.aw-content-wrap .mod-head .nav-tabs li{min-width:89px;height:42px;border-right:1px solid #DDD;list-style:none;text-align:center;cursor:default;}
.aw-content-wrap .mod-head .nav-tabs li a{margin-top:0;margin-left:0;padding:8px 15px;outline:none;border:none;background:transparent;line-height:29px;}
.aw-content-wrap .mod > .mod-head,.mod-echat-info .mod-head{margin:10px 0 0;height:44px;border:1px solid #e2e1e1;background:#f4f4f4;color:#333;}
.mod-head .dropdown{margin: 5px 10px 0 0}
.aw-content-wrap .mod-site-save{margin:10px 15px 0 0;}
.aw-content-wrap .mod-head .pull-left{margin-right:20px;padding-left:15px;font-size:14px;line-height:45px;}
.mod-head .nav-tabs li.active{height:43px;border-bottom:1px solid #fff;background:#FFF;}
.aw-content-wrap .mod-table-foot{margin-top:20px;overflow: hidden;}
.aw-content-wrap .mod-table-foot .pull-right{margin-top:0;}

/*右侧表格主体部分*/
textarea{resize:none;}
.aw-content-wrap .mod{margin-bottom:30px;box-shadow: 0 1px 2px #d5d7d8;}
.aw-content-wrap .mod-body,.aw-content-wrap .mod-content{padding:20px;border:1px solid #e2e1e1;border-top:none;background:#fff;}
.aw-content-wrap h2 i{position:relative;top:0;}
.mod-body table thead th,.mod-body table tbody td{vertical-align:middle;text-align:center;}
.mod-content table thead th,.mod-content table tbody td{text-align:left;}
#search{margin-top:25px;}
.aw-content-wrap .fa-calendar{position:absolute;top:5px;left:20px;background:#2780bb!important;}
.aw-content-wrap .mod-data{padding:3px 0 0 20px;text-align: center;}
.aw-content-wrap input[type=radio],.aw-content-wrap input[type=checkbox]{margin-right:5px;}
.aw-content-wrap .tab-content th{border:none;color:#000;font-weight:400;}
.aw-content-wrap table > tfoot > tr > td{padding-top:18px;padding-bottom:0;}
.aw-content-wrap .mod-text-inline{padding: 0 5px 0 8px;width:auto;line-height:34px;}
#members_table .min-value{min-width:175px;}
.aw-content-wrap .mod-btn .mod-btn-color{border:1px solid #eaeaea;background:#fff;color:#000;}
.mod-one-btn{text-align:center;}
/*site_info 页面 start*/
.aw-content-wrap .mod-text-color-999{padding-left:15px;color:#999;}
.aw-content-wrap .mod-site-url li{margin-top:10px;height:102px;border:1px solid #D7E6F0;background:#fff;}
.aw-content-wrap .mod-site-rule .col-sm-8{padding:0;}
.aw-content-wrap .tab-content li > span{margin-right:10px;width:25%;height:100px;background:#F2F8FF;text-align:center;line-height:100px;line-line-line-;}
.aw-content-wrap .tab-content ul p{margin:10px 90px 0 0;}
.aw-content-wrap li.mod-site-rule{min-height:230px;height:auto;}
.aw-content-wrap .tab-content ul textarea{margin:5px 0 0;}
.aw-content-wrap .tab-content .help-block{clear:both;overflow:hidden;margin:0;padding:10px 10px 10px 5px;text-align:left;font-size:12px;line-height:1.8em;}
.aw-content-wrap .tab-content .help-block a{padding:0 5px;color:#3276b1;font-size:12px;}

/*wechat 页面 左侧菜单区域*/
.mod-wechat-btn{margin-top: 0;}
.aw-content-wrap .mod-wechat-sava{margin-left:2px;text-align:center;}
.aw-content-wrap .mod-wechat-sava input{margin-right:10px;}
.email-protocol{margin-top: 7px}
/*nav-menu 页面 左侧菜单区域*/
.aw-content-wrap .mod-set-head a{margin:9px;}
.aw-content-wrap .mod-set-head h3{margin:0;height:40px;background:#F4F4F4;color:#333;text-indent:10px;font-weight:400;font-size:14px;line-height:40px;line-line-line-;}
.aw-content-wrap .mod-width .col-sm-10 label{margin-bottom:10px;width:200px;}
.aw-content-wrap .mod-set-body > p{height:40px;line-height:40px;line-line-line-;}
.aw-content-wrap .mod-set-body > p select{margin-top:7px;width:240px;}
.aw-content-wrap .aw-nav-menu li{margin-top:10px;border:1px solid #D7E6F0;}
.aw-content-wrap .aw-nav-menu .mod-set-head{padding:0 10px;height:40px;background:#F2F8FF;font-size:12px;line-height:40px;cursor:s-resize;line-}
.aw-content-wrap .aw-nav-menu .mod-set-head h4{margin: 0;height:40px;font-weight:400;line-height:40px;line-}
.aw-content-wrap .aw-nav-menu .mod-set-head span{color:#999;}
.aw-content-wrap .aw-nav-menu .mod-set-body{display:none;padding: 10px 25px;}
.aw-content-wrap .aw-nav-menu .aw-nav-menu-tag .aw-nav-menu-img{margin:5px 0 0 15px;width:52px;height:52px;border:1px dashed #999;}
.aw-content-wrap .aw-nav-menu .aw-nav-menu-tag .aw-nav-menu-img form{position: relative;opacity: 0;filter:alpha(opacity=0);width: 0;height: 0;}
.aw-content-wrap .aw-nav-menu .aw-nav-menu-tag .aw-nav-menu-img form .file-input{position: absolute;left: 0;top: 0;width: 50px;height: 50px;}
.aw-content-wrap .aw-nav-menu .aw-nav-menu-descrip input{width:390px;}
.aw-content-wrap .aw-nav-menu label,.aw-content-wrap .aw-nav-menu input{font-size:13px;}
.aw-content-wrap .aw-nav-menu input{margin-top:3px;}
.aw-message-box{margin-bottom:30px;border:1px solid #E2E1E1;}
.aw-message-box h3{margin:0;padding-left:10px;height:35px;background:#3695D5;color:#fff;font-weight:400;font-size:14px;line-height:35px;line-}
.aw-message-box .mod-set-body{padding:20px;}
.aw-message-box a{margin-top:10px;}
.aw-question-list li,.aw-article-list li{overflow: hidden;margin-bottom: 5px;}
.aw-article-list a,.aw-question-list a{display:block;max-width:600px;}

/*微信菜单页面*/
.chat-symbol{padding:0;line-height:34px;}
.aw-wechat-dropdown-box{position:relative;width:230px;height:34px;line-height:34px;line-line-line-;}
.aw-wechat-dropdown-box input{padding-right:30px!important;width:230px;}
.aw-wechat-dropdown-box .fa-sort{position:absolute;top:5px;right:5px;z-index:2;background:transparent;color:#666;font-size:16px;cursor:pointer;}
.aw-wechat-dropdown-box span{position:relative;z-index:3;}
.aw-wechat-dropdown-box .input-bg{position:absolute;left:0;z-index:1;width:100%;height:34px;border:1px solid #ccc;border-radius:5px;background-color:#fff;}
.aw-wechat-dropdown-box .dropdown-menu{right:20px;padding:10px;width:64%;}
.aw-wechat-dropdown-box .dropdown-menu .mod > .mod-head{margin:0;height:34px;border:none;background:transparent;}
.aw-wechat-dropdown-box .dropdown-menu.subtract-two{width:138%;}
.aw-wechat-dropdown-box .dropdown-menu.all{width:360%;}
.aw-wechat-dropdown-box .dropdown-menu.all.subtract-two{width:243%;}
.aw-wechat-dropdown-box .dropdown-menu .mod{float:right;overflow:hidden;margin:0 10px;width:126px;}
.aw-wechat-dropdown-box .dropdown-menu .mod .divider,.aw-wechat-dropdown-box .dropdown-menu > .mod-body{overflow:hidden;margin:9px 0;height:1px;background-color:#E5E5E5;}
.aw-wechat-dropdown-box .dropdown-menu ul li{height:26px;line-height:26px;line-line-line-;}
.aw-wechat-dropdown-box .dropdown-menu ul.control-height{overflow-y:auto;min-height:182px;max-height:182px;}
.aw-wechat-dropdown-box .dropdown-menu ul li a{display:block;clear:both;overflow:hidden;padding:3px 20px;max-width:126px;color:#333;text-align:left;text-overflow:ellipsis;white-space:nowrap;font-weight:400;line-height:1.42857;}
.aw-wechat-dropdown-box .dropdown-menu ul li a:hover,.aw-wechat-dropdown-box .dropdown-menu ul li.active a{background-color:#428BCA;color:#FFF;text-decoration:none;}
.aw-wechat-dropdown-box .dropdown-menu > .mod-footer{padding-top:10px;border-top:1px solid #E5E5E5;}
.aw-wechat-dropdown-box .dropdown-menu > .mod-footer li a{display:inline;}
.aw-wechat-dropdown-box .ajax-upload,.aw-wechat-dropdown-box .ajax-look{position:absolute;top:4px;right:-30px;}
.aw-wechat-dropdown-box .ajax-look{right:-60px;}
.aw-content-wrap .mod-weibo-reply li{margin-top: 10px;}
.aw-content-wrap .mod-weibo-reply li .reply-name,.aw-admin-weibo-publish .push-name ,.aw-admin-email .push-name{display: inline-block;min-width: 180px;}
.wechat1,.wechat{min-height:inherit;height: auto;}
.wechat1{margin-top:20px}
.wechat{margin-top: 0;}
#import .control-label{line-height: 35px}
#import .col-xs-8 {margin-top: 13px;}
#import .col-xs-8  label{margin-right: 10px;}
#option_last_active .col-xs-8{margin-top: 0}
/*preview/action-edit  限制附件*/
.aw-comment-upload-img-list  ul{margin-top: -30px;}
.aw-comment-upload-img-list img{max-width: 200px;min-height: 150px;max-height: 150px;display: block;margin: 0 auto;}
.aw-comment-upload-img-list li{text-align: center;display: inline-block;margin: 30px 15px 0 30px;width: 20%;height: 150px;}
.aw-comment-upload-img-list .btn{margin-top: 15px;}
.aw-comment-upload-file-list li{display: inline-block;margin: 0px 20px 10px 20px}
/*编辑用户资料*/
#remove_user_form label{margin-right:15px;}
#integral_form span.mod-category-foot{padding:0;text-align:right;line-height:35px;}
#integral_form .col-sm-6{line-height:35px;}

/*微信消息群发*/
.mod-file{position:relative;display:inline-block;overflow:hidden;vertical-align:middle;cursor:pointer;*display:inline;*zoom:1;}
.mod-file .mod-input-file{ position:absolute; top:0;right:0; height:100%;opacity:0;-ms-filter:"alpha(opacity=0)";filter:alpha(opacity=0);cursor:pointer;_font-size:100px; _font-size:12px;_zoom:10;_height:auto;}
.filetext{padding-top: 10px;}
/* 弹窗 */
.aw-category-move-box .modal-dialog{width:350px;}
.aw-topic-edit-note-box img{max-width:530px;}
.aw-topic-edit-note-box #aw_dialog_ajax_data{overflow-y:scroll;max-height:450px;}

/* 微信多账号下拉菜单 */
.dropdown #dropdownMenu1 .caret{margin-left:5px;}
.dropdown ul.weixin-dropdown-menu{min-width:100px;}

/*群发消息*/
#msg_details .msg-que li,#msg_details .msg-arc li{margin-bottom: 10px;}
/*日期选择控件*/
.date_selector,.date_selector *{margin:0;padding:0;width:auto;height:auto;border:none;background:none;text-align:left;text-decoration:none;cursor:pointer;}
.date_selector{position:absolute;z-index:100000;display:none;margin:-1px 0 0;padding:10px;border:1px solid #ccc;background:#fbfbfb;-webkit-box-shadow:0 0 5px #aaa;-moz-box-shadow:0 0 5px #aaa;box-shadow:0 0 5px #aaa;}
.date_selector_ieframe{position:absolute;z-index:99999;display:none;}
.date_selector .nav{width:17.5em;}
.date_selector .nav p{clear:none;}
.date_selector .month_nav,.date_selector .year_nav{position:relative;display:block;margin:0 0 3px;padding:0;text-align:center;}
.date_selector .month_nav{float:left;width:55%;}
.date_selector .year_nav{float:right;margin-right:-8px;width:42%;}
.date_selector .month_name,.date_selector .year_name{font-weight:700;line-height:20px;}
.date_selector .button{position:absolute;top:0;display:block;overflow:hidden;width:18px;height:18px;border:1px solid #ccc;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;color:#008ee8;text-align:center;font-weight:700;font-size:12px;line-height:16px;}
.date_selector .button:hover,.date_selector .button.hover{border-color:#d77011;background:#ed9c35;color:#fff;cursor:pointer;}
.date_selector .prev{left:0;}
.date_selector .next{right:0;}
.date_selector table#table1{clear:both;margin:0;border-spacing:0;border-collapse:collapse;}
.date_selector th,.date_selector td{padding:0!important;width:2.5em;height:2em;color:#666;text-align:center!important;font-weight:400;}
.date_selector th{font-size:11px;}
.date_selector td{border:1px solid #D7E6F0;background:#fff;color:#666;text-align:center;white-space:nowrap;line-height:2em;}
.date_selector td.today{background:#eee;}
.date_selector td.unselected_month{color:#ccc;}
.date_selector td.selectable_day{cursor:pointer;}
.date_selector td.selected{background:#4B85D2;color:#fff;font-weight:700;}
.date_selector td.selectable_day:hover,.date_selector td.selectable_day.hover{background:#F2F8FF;color:#246594;}

/* 全局通用下拉列表 */
.aw-dropdown, .aw-category-dropdown{display:none;position:absolute;left:17px;z-index:9999;width:93%;background: #fff;border:1px solid #ccc;box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);}
.aw-publish-title .aw-dropdown{width: 100%;left: 0}
.aw-dropdown .i-dropdown-triangle, .aw-category-dropdown .i-dropdown-triangle{position: absolute;top:-6px;left: 15px;}
.aw-dropdown p, .aw-category-dropdown p{padding:5px 10px;margin:0;}
.aw-dropdown .aw-dropdown-list{margin:0;}
.aw-dropdown .aw-dropdown-list li, .aw-category-dropdown .aw-category-dropdown-list li{border-top: 1px dotted #E2E2E2;cursor: pointer;}
.aw-dropdown .aw-dropdown-list li:first-child, .aw-category-dropdown .aw-category-dropdown-list li:first-child{border-top: none;}
.aw-dropdown .aw-dropdown-list li:hover, .aw-dropdown .aw-dropdown-list li.active, .aw-category-dropdown .aw-category-dropdown-list li:hover{background-color: #F5FAFF;}
.aw-dropdown .aw-dropdown-list li.topic{line-height:24px;padding:5px 10px;}
.aw-dropdown .aw-dropdown-list li.question{line-height:32px;padding:0 10px;}
.aw-dropdown .aw-dropdown-list li.question.active .icon-g-replay{display: inline-block;}
.aw-dropdown .aw-dropdown-list li.question .icon-g-replay{display: none;margin:9px 5px 0 0;}
.aw-dropdown .aw-dropdown-list li.question a{display: block;line-height: 32px;font-size: 13px;}
.aw-dropdown .aw-dropdown-list li.question b{line-height: 30px;}
.aw-dropdown .aw-dropdown-list li.user a{display: block;line-height:22px;padding: 5px 10px;font-size: 13px;}
.aw-dropdown .aw-dropdown-list li.user a img{width: 25px;height: 25px;margin-right: 5px;}
.aw-dropdown .aw-dropdown-list li.user a span{display:inline-block;max-width:180px;margin-left:10px;color: #999;vertical-align: top;}
.aw-dropdown-box{position:relative;}
.aw-wechat-send-message .aw-dropdown-list{overflow-y:scroll;margin-bottom:0;max-height:330px;}
.aw-publish-title{position: relative;border:1px solid #ccc;border-radius: 5px;}
.aw-publish-title input{width:90%;height:32px;float:left;border:none;box-shadow: none;}
.aw-publish-title .dropdown.open .aw-dropdown{display: block;}
.aw-publish-title .dropdown .dropdown-toggle a{display:inline-block;width:10%;height:32px;line-height:32px;background: #f5f5f5;border-left:1px solid #E2E2E2;text-align: center;border-radius: 0 5px 5px 0;}
.aw-publish-title .dropdown .dropdown-toggle .fa-chevron-down{background: transparent;color: #b7b7b7;}
.aw-publish-title .dropdown i{margin:0;}
.aw-publish-title .aw-dropdown .aw-dropdown-list a{display:block;padding:5px 10px;max-width: 400px;}
/* 开放平台设置 */
.aw-admin-weibo-publish .img,.aw-admin-weibo-answer li img,.aw-admin-email li img{margin-right: 10px;width: 24px;}

.aw-admin-weibo-publish .btn{margin-left: 5px;}

/* iCheck plugin */
.icheckbox_square-blue,
.iradio_square-blue{display: inline-block; margin-right:5px; padding: 0; width: 22px; height: 22px; border: none; background: url(../img/blue.png) no-repeat; vertical-align: middle; cursor: pointer; *display: inline;}
.iradio_square-blue{  border: none; vertical-align: middle; cursor: pointer;*display: inline;}
.icheckbox_square-blue{background-position: 0 0;} .icheckbox_square-blue.hover{background-position: -24px 0;} .icheckbox_square-blue.checked{background-position: -48px 0;} .icheckbox_square-blue.disabled{background-position: -72px 0; cursor: default;} .icheckbox_square-blue.checked.disabled{background-position: -96px 0;}
.iradio_square-blue{background-position: -120px 0;} .iradio_square-blue.hover{background-position: -144px 0;} .iradio_square-blue.checked{background-position: -168px 0;} .iradio_square-blue.disabled{background-position: -192px 0; cursor: default;} .iradio_square-blue.checked.disabled{background-position: -216px 0;}

/*! perfect-scrollbar*/
.ps-container .ps-scrollbar-x-rail{position:absolute;bottom:3px;height:8px;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;opacity:0;filter:alpha(opacity=0);-webkit-transition:background-color .2s linear, opacity .2s linear;-moz-transition:background-color .2s linear, opacity .2s linear;-o-transition:background-color .2s linear, opacity .2s linear;transition:background-color .2s linear, opacity .2s linear;}
.ps-container .ps-scrollbar-x-rail.in-scrolling{background-color:#eee;opacity:.9;filter:alpha(opacity=90);}
.ps-container .ps-scrollbar-y-rail{position:absolute;right:0;width:4px;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;opacity:0;filter:alpha(opacity=0);-webkit-transition:background-color .2s linear, opacity .2s linear;-moz-transition:background-color .2s linear, opacity .2s linear;-o-transition:background-color .2s linear, opacity .2s linear;transition:background-color .2s linear, opacity .2s linear;}
.ps-container .ps-scrollbar-y-rail.in-scrolling{background-color:#2780bb;opacity:.9;filter:alpha(opacity=90);}
.ps-container .ps-scrollbar-x{position:absolute;bottom:0;height:8px;background-color:#aaa;-webkit-transition:background-color .2s linear;-moz-transition:background-color .2s linear;-o-transition:background-color .2s linear;transition:background-color .2s linear;}
.ps-container .ps-scrollbar-x-rail:hover .ps-scrollbar-x,.ps-container .ps-scrollbar-x-rail.hover .ps-scrollbar-x{background-color:#999;}
.ps-container .ps-scrollbar-y{position:absolute;right:-0;width:4px;background-color:#3695D5;-webkit-transition:background-color .2s linear;-moz-transition:background-color .2s linear;-o-transition:background-color .2s linear;transition:background-color .2s linear;}
.ps-container.ie .ps-scrollbar-x,.ps-container.ie .ps-scrollbar-y{visibility:hidden;}
.ps-container.ie:hover .ps-scrollbar-x,.ps-container.ie:hover .ps-scrollbar-y,.ps-container.ie.hover .ps-scrollbar-x,.ps-container.ie.hover .ps-scrollbar-y{visibility:visible;}
.aw-content-wrap label.checkbox-inline,.aw-dropdown .aw-dropdown-list li.question b{line-height:30px;}
.table-striped > tbody > tr:first-child td,.aw-content-wrap .mod-border,.aw-content-wrap .mod-site-foot,.aw-dropdown .aw-dropdown-list li:first-child,.aw-category-dropdown .aw-category-dropdown-list li:first-child{border-top:none;}
.nowrap,.aw-content-wrap .table th{white-space:nowrap;}
label,.aw-content-wrap .mod-title,.aw-article-list b,.aw-question-list b{font-weight:400;}
.aw-header .mod-btn,.aw-content-wrap .aw-nav-menu .aw-nav-menu-descrip{width:100%;}
.aw-header .fa-user:before,.aw-side .mod-message .fa:before{font-size:16px;}
.aw-side .mod-message .fa-envelope:before,.aw-content-wrap .aw-nav-menu li h4{font-size:14px;}
.aw-side ul li i,.aw-content-wrap .md-tip{margin:0 1px;}
.aw-content-wrap .mod-padding,.aw-content-wrap .mod-site-url,.aw-content-wrap .aw-nav-menu ul{padding-left:0;}
.aw-content-wrap .mod-table-foot .clpadding,.aw-content-wrap tfoot .mod-category-foot{padding:0;line-height:35px;}
.aw-content-wrap .mod-head h3,.aw-content-wrap .mod-page,.aw-message-box form,.aw-wechat-dropdown-box .dropdown-menu > .mod-footer ul{margin:0;}
.aw-content-wrap .editor,.aw-content-wrap .mod-foot-center td{text-align:center;}
.ps-container:hover .ps-scrollbar-x-rail,.ps-container.hover .ps-scrollbar-x-rail,.ps-container:hover .ps-scrollbar-y-rail,.ps-container.hover .ps-scrollbar-y-rail{opacity:.6;filter:alpha(opacity=60);}
.ps-container.ie6 .ps-scrollbar-x,.ps-container.ie6 .ps-scrollbar-y{font-size:0;}
/*响应式兼容start*/
@media only screen and (max-width: 1024px){
.mod-user{top:36px}
#integral_form .btn-primary{margin: 20px 0 0 15px}
.aw-content-wrap{margin:70px 5px 0 5px;padding:0;}
#main2 {clear: both;}
.aw-content-wrap .col-xs-offset-1{margin-left: 0;}
.aw-side ul li a{padding-left:0;}
.aw-content-wrap .mod-double{margin-bottom:10px;}
.table-responsive{margin-bottom:0;border:none;}
.btn{padding:3px 7px;border-radius:3px;font-size:14px;line-height:1.5;}
.aw-content-wrap .mod-body,.aw-content-wrap .mod-content{padding:5px 5px 20px;}
.pagination > li > a,.pagination > li > span{padding:5px 10px;font-size:12px;}
.pagination > li:first-child > a,.pagination > li:first-child > span{border-top-left-radius:3px;border-bottom-left-radius:3px;}
.pagination > li:last-child > a,.pagination > li:last-child > span{border-top-right-radius:3px;border-bottom-right-radius:3px;}
.aw-content-wrap table tfoot .mod-foot-btn{padding-top:50px;vertical-align:middle;}
.radio-inline,.checkbox-inline{margin-bottom:6px;}
.aw-footer,.radio-inline + .radio-inline,.checkbox-inline + .checkbox-inline{margin-left:0;}
.aw-side,.aw-content-wrap .mod-symbol{display:none;}
#approval {height: 130px;}
#approval h3 li {text-align: left;width:50%;display: inline-block;}
.mod-head .nav-tabs li.active{height: 42px}
#add_category_form .col-sm-2{margin-top: 10px;}
#add_category_form div{text-align: left;margin-bottom: 10px;}
#user_list .mod-head {height:86px}
#user_list .mod-head h3 li{display: inline-block;width: 50%}
#user_list .pagination{float: left!important;margin-top: 15px;}
#tools .col-xs-12{margin-top: 10px;}
#tools .col-xs-12 input{margin-left: 73px}
}
@media only screen and (min-width: 320px) and (max-width: 640px){
.aw-header .pull-right .mod-bell{display:none;}
.aw-content-wrap .col-xs-offset-1{margin-left: 0;}
.aw-content-wrap .echart-date .col-sm-1{clear: both;margin-right: 22%;text-align: center;}
.aw-content-wrap .echart-date .col-xs-offset-3{margin-left: 5%;}
.aw-header .username{position:absolute;top:1px;right:0;display:block;}
.mod-header-user .username ul.pull-right{width:80px;border:1px solid #d7d7d7;background:#fff;}
.aw-content-wrap .mod-site-url li{clear: both;height: 200px;}
.aw-content-wrap .tab-content ul p{margin: 0;}
.aw-content-wrap .mod-site-rule .help-block{display: none;}
.aw-content-wrap .tab-content li > span{width: 100%;}
}
@media only screen and (max-width: 321px){
.date_selector{left:-40px;}
.aw-content-wrap .echart-date .col-sm-1{margin-right: 17%;}
}

/* HiDPI support */
@media (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {.icheckbox_square-blue,.iradio_square-blue { background-image: url(../img/blue-2x.png);-webkit-background-size: 240px 24px; background-size: 240px 24px;}}